<template>
  <div class="page">
    <div class="counter-result__wrapper">
      <image class="counter-result__background" lazy-load="true" :src="backgroundImage"></image>
      <div class="counter-result__header">
        <div class="product__wrapper">
          <div class="product__icon-position">
            <image class="product__icon-median" :src="params.src" @error="imageErrorHandler"></image>
          </div>
          <div class="product__name">{{params.name}}</div>
        </div>
        <div class="interest__wrapper">
          <div class="interest__label">利率折合年化</div>
          <div class="interest__value" v-bind:style="{ 'color': 'rgb(' + interestColor + ')' }">{{params.air}}</div>
        </div>
        <div class="interest-meter__wrapper">
          <div class="interest-meter__bar"></div>
          <div class="interest-meter-scale">
            <div class="interest-meter-scale__margin" style="left: 0;">···</div>
            <ul class="interest-meter-scale__ul">
              <li class="interest-meter-scale__li" v-for="(val,index) in scales" :key="index">{{val}}</li>
            </ul>
            <div class="interest-meter-scale__margin" style="right: 0rpx; text-align: right;">···</div>
          </div>
          <div class="interest-meter-tabs">
            <div class="interest-meter-tab" style="width: 136rpx; margin-left: 20%;">
              <div class="interest-meter-tab__corner" style="left: 62.35rpx;"></div>
              <div class="interest-meter-tab__body">信用卡分期利率</div>
            </div>
            <div class="interest-meter-tab" style="width: 120rpx; margin-left: 3.5%;">
              <div class="interest-meter-tab__corner" style="left: 54.35rpx;"></div>
              <div class="interest-meter-tab__body">法定利率上限</div>
            </div>
          </div>
        </div>
      </div>
      <div class="counter-result__interval">
        <div class="counter-result__semicircle-left"></div>
        <div class="counter-result__dashed"></div>
        <div class="counter-result__semicircle-right"></div>
      </div>
      <div class="counter-result__body">
        <ul class="counter-result-table__ul">
          <li class="counter-result-table__li" v-for="(label,index) in labels" :key="index">
            <div class="counter-result-table__label">{{label}}</div>
            <div class="counter-result-table__value">{{params.values[index]}}</div>
          </li>
        </ul>
        <image class="counter-result-medal__image" lazy-load="true" :src="medalIcon"></image>
      </div>
      <div class="counter-result__footer">
        <image class="counter-result__footer-background" lazy-load="true" :src="footerImage"></image>
        <div class="result-button__cell">
          <button class="result-button__left" @click="gotoHomeHandler">{{goBackLabel}}</button>
        </div>
        <div class="result-button__cell">
          <button class="result-button__right" open-type="share">分享</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// import {makePoster} from '@/utils/poster'
// import posterCanvas from '@/components/poster/canvas'
import {productImageUrl, elementImageUrl} from '@/utils/comm/config'
import {toAmountExpression as transform} from '@/utils/word'
// 获取登录状态
import {getStatus as getLoginStatus} from '@/utils/comm/service/login'
// 提示组件
import {showLoading} from '@/utils/hint'
// 路由组件
import {getRouting} from '@/utils/router/route'
// 分享组件
import {sharePage as share} from '@/utils/share'

export default {
  name: 'result',
  data () {
    return {
      isLoading: true,
      scales: [],
      labels: [],
      params: {},
      goBackLabel: '',
      interestColor: '',
      medalIcon: '',
      backgroundImage: '',
      footerImage: ''
    }
  },
  onLoad (options) {
    // console.log('[result][onLoad] called ', options)
    let _this = this
    if (typeof options !== 'undefined' && Object.keys(options).length > 0) {
      // 页面跳转解析
      if (typeof options.type !== 'undefined' && options.type === 'share') {
        // 分享进入
        _this.goBackLabel = '首页'
      } else {
        // 利率计算进入
        _this.goBackLabel = '返回'
      }
      // 参数载入
      if (typeof options.message !== 'undefined') {
        // 利率计算结果
        let data = JSON.parse(options.message)
        // 参数初始化
        _this.init(data)
        // 参数解析
        _this.params = _this.resolve(data)
        // 根据利率选择利率勋章
        _this.medalIcon = _this.getMedalIcon(_this.params.airValue)
        let vals = _this.pickHex([0, 196, 34], [255, 127, 0], Math.min(parseFloat(_this.params.airValue), 1.0))
        _this.interestColor = vals.join(',')
        //
        showLoading('加载中', function () {
          // console.log('[result][onLoad] when showLoading ')
          _this.afterLoginThenLoadHandler(data)
        })
      }
    }
  },
  onUnload () {
    // console.log('[result][onUnload] called ')
    this.isLoading = true
    this.scales = []
    this.labels = []
    this.params = {}
    this.goBackLabel = ''
    this.medalIcon = ''
    this.backgroundImage = ''
    this.footerImage = ''
    this.interestColor = ''
  },
  onReady () {
    /* wx.hideTabBar({
      animation: true,
      success: function () {
      }
    }) */
  },
  onShow (e) {
    /*
    console.log('[result][onShow] called ', e)
    console.log(this.backgroundImage)
    console.log(this.footerImage)
    console.log(this.isLoading)
    console.log(this.scales)
    console.log(this.labels)
    console.log(this.params)
    console.log('medalIcon: ', this.medalIcon)
    console.log('interestColor: ', this.interestColor)
    */
  },
  onShareAppMessage (obj) {
    // console.log('[result][onShareAppMessage] called obj: ', obj)
    let slogan = ''
    if (this.params.name !== '某借款产品') {
      slogan = '在' + this.params.name + '借钱真的便宜? 真实利率是...'
    }
    // 用户行为
    let action = {
      id: this.params.id || '',
      name: this.params.name
    }
    let res = share(obj.from, 'result', 'result', this.shareData, slogan, action)
    return res
  },
  methods: {
    afterLoginThenLoadHandler (data) {
      // console.log('[result][afterLoginThenLoadHandler] called')
      // 确认登录后再进行页面加载
      let _this = this
      let hasLogined = getLoginStatus()
      if (hasLogined) {
        // 首次加载显示
        if (_this.isLoading) {
          setTimeout(function () {
            _this.isLoading = false
          }, 100)
        }
        // hideLoading()
      } else {
        // 轮询操作（重试至多3次）
        if (_this.retryCount <= 3) {
          // 延迟等待，尝试登陆
          _this.retryCount = _this.retryCount + 1
          setTimeout(function () {
            _this.afterLoginThenLoadHandler(data)
          }, 500 * _this.retryCount)
        }
      }
    },
    // 初始化模块
    init (data) {
      this.isLoading = true
      this.scales = ['12%', '15%', '18.25%', '24%', '36%', '40%', '60%', '100%']
      this.labels = ['实际到账', '还款方式', '每期还款', '折合日利率', '折合月利率', '折合年利率']
      this.params = {}
      this.productIcon = productImageUrl + '/default_icon.png'
      this.backgroundImage = elementImageUrl + '/result_background.png'
      this.footerImage = elementImageUrl + '/result_footer.png'
      //
      this.retryCount = 0
      //
      this.shareData = data
      // temp
      this.times = 1
    },
    resolve (data) {
      // console.log('[result][resolve] called')
      // 参数解析
      var obj = {}
      // 业务编号
      obj.code = data.code || ''
      // 产品信息
      obj.id = data.product.id
      obj.name = data.product.name
      obj.src = productImageUrl + '/' + data.product.icon
      // 顺序：['实际到账', '还款方式', '每期还款', '折合日利率', '折合月利率', '折合年利率']
      let income = transform(data.income || 0)
      let repay = ''
      let n = data.repay.value || 0
      if (data.repay.type === 'multiple') {
        repay = '分' + n + '期'
      } else {
        repay = '一次性还款 ' + n + '天'
      }
      let refund = transform(data.rufund || 0)
      var toPercent = function (a) { return (a ? (a * 100).toFixed(2) : 0) + '%' }
      let dir = toPercent(data.dir || 0.0)
      let mir = toPercent(data.mir || 0.0)
      let air = toPercent(data.air || 0.0)
      //
      obj.values = [income, repay, refund, dir, mir, air]
      obj.air = air
      obj.airValue = data.air
      return obj
    },
    gotoHomeHandler (e) {
      // console.log('[gotoHomeHandler]  go back ')
      if (this.goBackLabel === '返回') {
        wx.navigateBack({
          delta: 1
        })
      } else {
        wx.switchTab({
          url: getRouting('home')
        })
      }
    },
    shareHandler (e) {
      // 用户点击分享按钮
      console.log('[result][shareHandler] e ', e)
      let res = share('button', 'result')
      return res
    },
    getMedalIcon (air) {
      let level = -1
      if (air > 0.36) {
        level = 4
      } else if ((air > 0.3) && (air <= 0.36)) {
        level = 3
      } else if ((air > 0.1825) && (air <= 0.3)) {
        level = 2
      } else if ((air > 0.1) && (air <= 0.1825)) {
        level = 1
      } else {
        level = 0
      }
      // return '/static/images/counter/icon_medal_' + level.toString() + '.png'
      return elementImageUrl + '/result_medal_' + level.toString() + '.png'
    },
    pickHex (color1, color2, weight) {
      var w1 = 1.0 - weight
      var w2 = weight
      // console.log('[resul][pickHex] weight: ', weight, ' w1: ', w1, ' w2: ', w2)
      var rgb = [Math.round(color1[0] * w1 + color2[0] * w2),
        Math.round(color1[1] * w1 + color2[1] * w2),
        Math.round(color1[2] * w1 + color2[2] * w2)]
      return rgb
    },
    imageErrorHandler (e) {
      // console.log('[result][imageErrorHandler] e: ', e)
      this.params.src = productImageUrl + '/default_icon.png'
    }
  }
}
</script>

<style scoped>
.counter-result__wrapper {
  box-sizing: border-box;
  position: relative;
  padding: 32rpx 30rpx 18rpx 30rpx;
  display: flex;
  flex-direction: column;
}
.counter-result__header {
  box-sizing: border-box;
  position: relative;
  height: 575rpx;
  border-top-left-radius: 8rpx;
  border-top-right-radius: 8rpx;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.counter-result__interval {
  box-sizing: border-box;
  position: relative;
  height: 24rpx;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.counter-result__body {
  box-sizing: border-box;
  position: relative;
  height: 556rpx;
  background-color: #fff;
}
.counter-result__footer {
  box-sizing: border-box;
  position: relative;
  height: 180rpx;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
</style>

<style scoped>
.counter-result__background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.counter-result__footer-background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>

<style scoped>
.product__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 252rpx;
  display: flex;
  flex-direction: column;
}
.product__icon-position {
  box-sizing: border-box;
  position: relative;
  margin-top: 60rpx;
  height: 100rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__name {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  line-height: 32rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interest__wrapper {
  box-sizing: border-box;
  position: relative;
  height: 130rpx;
  display: flex;
  flex-direction: column;
}
.interest__label {
  box-sizing: border-box;
  position: relative;
  margin-top: 30rpx;
  height: 24rpx;
  line-height: 24rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interest__value {
  box-sizing: border-box;
  position: relative;
  margin-top: 20rpx;
  flex: 1;
  line-height: 56rpx;
  font-size: 56rpx;
  font-family: PingFangSC-Regular, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}
.interest-meter__wrapper {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  padding-left: 40rpx;
  padding-right: 40rpx;
  display: flex;
  flex-direction: column;
}
.interest-meter__bar {
  box-sizing: border-box;
  position: relative;
  margin-top: 60rpx;
  height: 8rpx;
  border-radius: 100rpx;
  background-image: linear-gradient(to right , #00C422, #FF7F00);
}
.interest-meter-scale {
  box-sizing: border-box;
  position: relative;
  margin-top: 20rpx;
  height: 20rpx;
  line-height: 20rpx;
  color: #666666;
  font-size: 20rpx;
  display: flex;
  align-items: center;
}
.interest-meter-scale__ul {
  box-sizing: border-box;
  position: relative;
  margin-left: 20rpx;
  margin-right: 20rpx;
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}
.interest-meter-scale__li {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  list-style: none;
  font-size: 20rpx;
  color: #666666;
  font-family: PingFangSC-Regular, sans-serif;
}
.interest-meter-scale__li:last-child {
  margin-right: 0;
}
.interest-meter-scale__margin {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  width: 40rpx;
}
.interest-meter-tabs {
  box-sizing: border-box;
  position: relative;
  margin-top: 8.35rpx;
  margin-bottom: 41rpx;
  flex: 1;
  display: flex;
}
.interest-meter-tab {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.interest-meter-tab__corner {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 11.3rpx;
  height: 11.3rpx;
  transform: rotate(45deg);
  background: #f2f2f2;
}
.interest-meter-tab__body {
  box-sizing: border-box;
  position: relative;
  margin-top: 5.65rpx;
  flex: 1;
  width: 100%;
  line-height: 30rpx;
  background-color: #f2f2f2;
  border-radius: 100rpx;
  font-size: 16rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #666666;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
</style>

<style scoped>
.counter-result__semicircle-left {
  box-sizing: border-box;
  position: relative;
  width: 12rpx;
  height: 100%;
  border-radius: 0 12rpx 12rpx 0;
  background-color: #00C422;
}
.counter-result__dashed {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  border-top: 1rpx dashed #979797;
  margin-left: 6rpx;
  margin-right: 6rpx;
}
.counter-result__semicircle-right {
  box-sizing: border-box;
  position: relative;
  width: 12rpx;
  height: 100%;
  border-radius: 12rpx 0 0 12rpx;
  background-color: #00C422;
}
</style>

<style scoped>
.counter-result-table__ul {
  box-sizing: border-box;
  position: relative;
  padding-left: 40rpx;
  padding-right: 40rpx;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.counter-result-table__li {
  box-sizing: border-box;
  position: relative;
  list-style: none;
  height: 88rpx;
  display: flex;
  align-items: center;
  padding-top: 30rpx;
  padding-bottom: 30rpx;
}
.counter-result-table__li:before {
  content: " ";
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0;
  border-top: 1rpx solid #E5E5E5;
}
.counter-result-table__li:first-child {
  box-sizing: border-box;
  position: relative;
  list-style: none;
  height: 91rpx;
  display: flex;
  align-items: center;
  padding-top: 33rpx;
  padding-bottom: 30rpx;
}
.counter-result-table__li:first-child:before {
  display: none;
}
.counter-result-table__label {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 100%;
  line-height: 100%;
  display: block;
  text-align: left;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 28rpx;
  color: #666666;
}
.counter-result-table__value {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 100%;
  line-height: 100%;
  display: block;
  text-align: right;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 28rpx;
  color: #333333;
}
.counter-result-medal__image {
  box-sizing: border-box;
  position: absolute;
  width: 170rpx;
  height: 170rpx;
  right: 175rpx;
  bottom: 34rpx;
  z-index: 999;
}
</style>

<style scoped>
.result-button__cell {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  padding-top: 48rpx;
  padding-bottom: 60rpx;
}
.result-button__left {
  box-sizing: border-box;
  position: relative;
  margin-left: 60rpx;
  width: 240rpx;
  height: 72rpx;
  line-height: 72rpx;
  border-radius: 100rpx;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 28rpx;
  background-color: #fff;
  color: #00C422;
  border: 1rpx solid #00C422;
}
.result-button__right {
  box-sizing: border-box;
  position: relative;
  margin-right: 60rpx;
  width: 240rpx;
  height: 72rpx;
  line-height: 72rpx;
  border-radius: 100rpx;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 28rpx;
  background-color: #00C422;
  color: #fff;
  border: none;
}
/*
<div class="counter-result__background" v-if="backgroundImage" v-bind:style="{ 'background-image': 'url(' + backgroundImage + ')' }"></div>
*/
</style>
