<template>
  <div class="page">
    <div class="aboutus__wrapper">
      <image class="aboutus__background" lazy-load="true" :src="backgroundImage"></image>
      <div class="aboutus-join__wrapper">
        <div class="aboutus-join__title">有任何产品建议或疑问请加微信交流</div>
        <div class="aboutus-join__subtitle">搜索QingNingWangDai 或 截图微信扫描二维码</div>
        <div class="aboutus-join-qrcode__wrapper">
          <image class="aboutus-join-qrcode__image" lazy-load="true" :src="qrcodeImage"
                 @error="imageErrorHandler"></image>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 通信相关组件
import {qrcodeImageUrl, elementImageUrl} from '@/utils/comm/config'
// 分享组件
import {sharePage as share} from '@/utils/share'

export default {
  data () {
    return {
      qrcodeImage: qrcodeImageUrl + '/wx_qrcode.jpeg',
      backgroundImage: elementImageUrl + '/aboutus_background.png'
    }
  },
  onShareAppMessage (obj) {
    // console.log('[aboutus][onShareAppMessage]  obj: ', obj)
    let res = share(obj.from, 'aboutus', 'home')
    return res
  },
  methods: {
    imageErrorHandler (e) {
      // console.log('[aboutus][onImageError] called: ', e)
      this.icon = '/static/images/public/default_icon.png'
    }
  }
}
</script>

<style scoped>
.aboutus__wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.aboutus__background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
}
.aboutus-join__wrapper {
  position: absolute;
  height: 432rpx;
  bottom: 90rpx;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.aboutus-join__title {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 32rpx;
  line-height: 32rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #333333;
}
.aboutus-join__subtitle {
  box-sizing: border-box;
  position: relative;
  margin-top: 10rpx;
  width: 100%;
  height: 24rpx;
  line-height: 24rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #666666;
}
.aboutus-join-qrcode__wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  margin-top: 15rpx;
  width: 320rpx;
  height: 320rpx;
  border: 1rpx solid #00C422;
  padding: 20rpx 20rpx 20rpx 20rpx;
  align-items: center;
  justify-content: center;
}
.aboutus-join-qrcode__image {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}
/*
.aboutus-join__wrapper {
  position: absolute;
  height: 216px;
  top: 327.5px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
<image class="aboutus__background1" lazy-load="true" :src="backgroundUrl"></image>
.aboutus__background1 {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
 */
</style>
