<template>
  <div class="page">
    <div class="background__mask"
      v-if="isDialogShown"
      @touchmove.stop="preventTouchMove"
      @click="closeDialogHandler">
      <inputdialog
        title="请输入产品名称"
        placeholder="网贷产品名称"
        v-bind:content="searchContent"
        v-bind:showDialog="isDialogShown"
        @closeInputDialog="closeDialogHandler"></inputdialog>
    </div>
    <div class="page__bd" v-show="!isLoading">
      <div class="searchbar__wrapper">
        <div class="searchbar-input__position">
          <input class="searchbar-input"
            placeholder-style="color: #CCCCCC; font-size: 28rpx;"
            :placeholder="searchbarInputPlaceholder"
            focus="firstFocus"
            type="text"
            maxlength="24"
            v-model="content"
            @confirm="searchbarConfirmHandler"/>
        </div>
        <div class="searchbar-clear__position" @click="clearInput" v-if="content.length > 0">
          <image class="searchbar-clear__icon" :src="cleanImage"></image>
        </div>
      </div>
      <div class="keyword__wrapper" v-if="isKeywordShown">
        <div class="keyword__title">热门</div>
        <ul class="keyword__ul">
          <li class="keyword__li" v-for="(keyword,index) in keywords" :key="index" @click.stop="keywordTapHandler(index)">
            {{keyword}}
          </li>
        </ul>
      </div>
      <div class="searchresult__position" v-if="isResultShown">
        <div class="searchresult__wrapper" v-if="results.length > 0">
          <ul class="searchresult__ul">
            <li class="searchresult__li" v-for="(item,index) in results" :key="index" @click="resultTapHandler(index)">
              <div class="searchresult-cell__header">
                <image class="product__icon" lazy-load="true" :id="index" :src="item.iconUrl" @error="imageErrorHandler"/>
              </div>
              <div class="searchresult-cell__body">
                <div class="searchresult-cell__title">{{item.name}}</div>
                <div class="searchresult-cell__subtitle">{{item.desc}}</div>
              </div>
            </li>
          </ul>
          <div class="searchresult__footer" v-if="pageType == 'search'">
            <div class="searchresult__hint" @click="openDialogHandler">以上都不是？似乎你抓到了新妖怪 ></div>
          </div>
        </div>
        <div class="noresult__wrapper" v-else>
          <div class="noresult__hint" v-if="pageType == 'search'">似乎没找到, 请告诉我们产品名称, 我们立即补充</div>
          <div class="noresult-cell__wrapper"
               :style="pageType == 'search'? 'margin-top:60rpx' : 'margin-top:0'">
            <div class="noresult-cell__header"></div>
            <div class="noresult-cell__body">
              <div class="noresult-cell__label">产品名称(可修改)</div>
              <input class="noresult-cell__input"
                placeholder="请输入网贷产品名称"
                v-model="customProductName" />
            </div>
            <div class="noresult-cell__footer">
              <div class="noresult-cell__btn" @click="customTapHandler">就是它了</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 上传名称对话框
import inputdialog from './upload'
// 数据格式校验
import {correctNumberInput as correctNumber} from '@/utils/word'
// 页面跳转
import {goto} from '@/utils/router/route'
// 通信组件
import {request} from '@/utils/comm/fly'
import {searchProductUrl, searchKeywordUrl, actionUploadProductUrl as uploadUrl, productImageUrl as imageUrl} from '@/utils/comm/config'
// 热门搜索缓存数据服务
import {getRanking} from '@/utils/cache/service/keyword'
// 提示组件
// import {showLoading, hideLoading, showSuccess, showAlert} from '@/utils/inform'
// 提示组件
import {showLoading, showSuccess, showAlert} from '@/utils/hint'
// 分享组件
import {sharePage as share} from '@/utils/share'
// 图片组件
import {cleanImage} from '@/utils/pixel/config'
// 缓存组件
import {counterProductLocalStorage} from '@/utils/cache/config'
import {setStorage} from '@/utils/cache/storage'
// 用户行为
import {searchProductClick, productSubmit} from '@/utils/profile/api'
// 计时器
import {getCurrentTime, calTimeSpan} from '@/utils/clock'

export default {
  name: 'search',
  // 依次: 上传名称对话框
  components: {
    inputdialog
  },
  data () {
    return {
      isLoading: true,
      firstFocus: false,
      isKeywordShown: true,
      isResultShown: false,
      isDialogShown: false,
      searchType: '',
      searchbarInputPlaceholder: '',
      keywords: [],
      results: [],
      content: '',
      searchContent: '',
      customProductName: '',
      cleanImage: cleanImage,
      pageType: '',
      action: {}
    }
  },
  onLoad (options) {
    // console.log('[search][onLoad] called')
    let _this = this
    if (typeof options !== 'undefined' && Object.keys(options).length > 0) {
      // 根据页面跳转确定类型
      // 从计算器进入的是名字查询，从首页进入的为搜索
      if (typeof options.source !== 'undefined' && options.source === 'home') {
        _this.pageType = 'search'
        wx.setNavigationBarTitle({
          title: '青柠网贷点评-搜索'
        })
      } else {
        _this.pageType = 'queryName'
        wx.setNavigationBarTitle({
          title: '填写产品名称'
        })
      }
    }
    // 初始化
    // 页面加载状态
    _this.isLoading = true
    // 搜索输入框初始化
    _this.content = ''
    // 热门搜索显示关闭 (载入后打开)
    _this.isKeywordShown = false
    // 搜索结果显示关闭
    _this.isResultShown = false
    // 默认项（未来营销入口）
    _this.searchbarInputPlaceholder = '贷款产品名称(如360借条)'
    // 状态项
    _this.isSearching = false
    // 行为记录
    _this.action = {
      Search: {Source: '', KeywordRank: -1, Content: ''},
      Select: {Rank: -1, ProductId: '', ProductName: ''},
      Page: {Time: 0}
    }
    // 加载榜单数据
    showLoading('加载中', function () {
      getRanking(false, function (data) {
        // 关闭加载提示
        // hideLoading()
        // 热搜榜单已排序
        _this.keywords = data
        // 显示热词榜单
        _this.isKeywordShown = true
        // 显示页面
        _this.isLoading = false
        // 自动聚焦
        setTimeout(function () {
          _this.firstFocus = true
        }, 100)
      })
    })
  },
  onShow () {
    // console.log('[search][onShow] called')
    this.startTime = getCurrentTime()
  },
  onReady () {
    // console.log('[search][onReady] called')
  },
  beforeMount () {
    // console.log('[search][beforeMount] called')
  },
  mounted () {
    // console.log('[search][mounted] called')
  },
  onHide () {
    // console.log('[search][onHide] called')
  },
  onUnload () {
    // console.log('[search][onUnload] called')
    this.action = {}
  },
  onShareAppMessage (obj) {
    // console.log('[search][onShareAppMessage]  obj: ', obj)
    // wx.hideNavigationBarLoading()
    let res = share(obj.from, 'search', 'home')
    return res
  },
  methods: {
    keywordTapHandler (index) {
      // 点击热词搜索
      // console.log('[search][keywordTapHandler] called')
      let posts = {Keyword: this.keywords[index], Rank: index}
      this.doSearch('keyword', posts, this.keywords[index])
    },
    searchbarConfirmHandler () {
      // console.log('[search][searchbarConfirmHandler] called')
      let _this = this
      // 输入预处理（待定）
      let text = _this.content
      // 1. 两边去空格
      text = text.replace(/(^\s*)|(\s*$)/g, '')
      // 2. 内部空格缩进(待定)
      // 3. 特殊字符检查(待定)
      // 搜索内容不为空
      if (text.length > 0) {
        let posts = {Content: text}
        _this.doSearch('searchbar', posts, text)
      }
    },
    doSearch (source, posts, content) {
      // 搜索
      // console.log('[search][doSearch] called')
      let _this = this
      //
      let url = searchProductUrl
      if (source === 'keyword') {
        url = searchKeywordUrl
      }
      // 搜索状态检查
      if (_this.isSearching === false) {
        // 执行搜索
        _this.isSearching = true
        // 搜索结果显示
        _this.isResultShown = false
        showLoading('搜索中', function callback () {
          // 搜索短语
          _this.searchContent = content
          // 搜索执行
          request(url, 'post', posts, _this.successHandler, _this.failHandler, true)
        })
      } else {
        // 如果正在执行搜索，延迟等待1.5秒
        setTimeout(function () {
          _this.doSearch(source, posts, content)
        }, 1500)
      }
      // 行为记录
      // 搜索来源：热词点击，文本查询
      _this.action.Search.Source = source
      // 若来源为热词点击，记录热词排位
      _this.action.Search.KeywordRank = -1
      if (source === 'keyword') {
        _this.action.Search.KeywordRank = posts.Rank
      }
    },
    successHandler (res) {
      // console.log('[search][successHandler] called')
      // 查询成功后处理
      let _this = this
      try {
        let objs = res.data.Result
        let array = Array(objs.length)
        for (var i in objs) {
          let obj = objs[i]
          // 网贷产品id
          let pid = obj.ProductId
          // 产品名称
          let name = obj.Name
          // 图片URL
          let icon = obj.Icon
          // 点评数格式转换
          let numString = correctNumber(obj.TotalComment.toString())
          let desc = '已有' + numString + '个网友点评'
          // 排位
          let rank = obj.Rank - 1
          array[rank] = {
            id: pid,
            name: name,
            icon: icon,
            iconUrl: imageUrl + '/' + icon,
            desc: desc}
        }
        _this.results = array
      } catch (e) {
        // console.warn('[search][successHandler] exception')
        showAlert()
      }
      //
      _this.completeHandler(res)
    },
    failHandler (res) {
      // console.log('[search][failHandler] called')
      showAlert()
      this.completeHandler(res)
    },
    completeHandler (res) {
      // console.log('[search][completeHandler] called')
      let _this = this
      // 状态设置
      // 热搜榜单关闭显示
      if (_this.isKeywordShown) {
        _this.isKeywordShown = false
      }
      // 如果结果为空, 设置自定义产品名称默认内容
      _this.customProductName = ''
      if (_this.results.length === 0) {
        _this.customProductName = _this.searchContent
      }
      // hideLoading()
      // 显示结果
      setTimeout(function () {
        // 搜索结果显示
        _this.isResultShown = true
        // 搜索状态更新
        _this.isSearching = false
      }, 100)
    },
    clearInput (e) {
      // 清空搜索栏
      // console.log('[search][clearInput] called: ', this.content.length)
      this.content = ''
    },
    openDialogHandler () {
      // 打开上传产品名称对话框
      // console.log('[search][openDialogHandler] called')
      this.isDialogShown = true
    },
    closeDialogHandler (content) {
      // console.log('[search][closeDialogHandler] called ', content)
      this.isDialogShown = false
      if (typeof content !== 'undefined' && content.length > 0) {
        this.uploadCustomName(content, 'noempty')
        if (this.pageType === 'queryName') {
          let obj = {name: content, type: 'custom'}
          console.log(obj)
          this._sendBack(obj)
        }
      }
    },
    preventTouchMove () {
      // console.log('[search][preventTouchMove] called')
    },
    customTapHandler () {
      // 自定义确认
      // console.log('[search][customTapHandler] called ', this.customProductName)
      let _this = this
      if (_this.pageType === 'search') {
        showSuccess('提交成功', function () {
          _this.uploadCustomName(_this.customProductName, 'noempty')
        })
      } else if (_this.pageType === 'queryName') {
        _this.uploadCustomName(_this.customProductName, 'noempty')
        let obj = {name: _this.customProductName, type: 'custom'}
        _this._sendBack(obj)
      }
    },
    uploadCustomName (content, source) {
      // 提交自定义产品名称
      // console.log('[search][uploadCustomName] called')
      if (content && (source === 'empty' || source === 'noempty')) {
        let posts = {'Content': content, 'Source': source}
        request(uploadUrl, 'post', posts, null, null, true)
        // 用户行为
        let pages = getCurrentPages()
        var currentPage = pages[pages.length - 1]
        productSubmit({
          path: currentPage.route,
          content: content
        })
      }
    },
    resultTapHandler (index) {
      let _this = this
      if (_this.pageType === 'search') {
        // 点击结果跳转产品详情页面
        let posts = {id: _this.results[index].id}
        goto('search', 'detail', posts)
      } else if (_this.pageType === 'queryName') {
        let obj = {
          id: _this.results[index].id,
          name: _this.results[index].name,
          icon: _this.results[index].icon,
          type: 'default'
        }
        _this._sendBack(obj)
      }
      // 行为记录
      _this.action.Select.Rank = index
      _this.action.Select.ProductId = _this.results[index].id
      _this.action.Select.ProductName = _this.results[index].name
      _this.action.Page.Time = calTimeSpan(_this.startTime, getCurrentTime(), 'ms')
      // 上传行为数据
      searchProductClick(_this.action)
    },
    _sendBack (obj) {
      setStorage(
        counterProductLocalStorage, obj, null, null,
        function complete () {
          wx.navigateBack({
            delta: 1
          })
        }
      )
    }
  }
}
</script>

<style scoped>
.searchbar__wrapper {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 23;
  height: 96rpx;
  padding-left: 24rpx;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.searchbar-input__position {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.searchbar-input {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 28rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, sans-serif;
}
.searchbar-clear__position {
  box-sizing: border-box;
  position: absolute;
  top: 0rpx;
  bottom: 0rpx;
  right: 24rpx;
  width: 32rpx;
  z-index: 99;
  display: flex;
  align-items: center;
}
.searchbar-clear__icon {
  box-sizing: border-box;
  position: relative;
  width: 32rpx;
  height: 32rpx;
}
</style>

<style scoped>
.keyword__wrapper {
  box-sizing: border-box;
  position: fixed;
  top: 112rpx;
  padding: 0 24rpx 16rpx 24rpx;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.keyword__title {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 88rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
}
.keyword__ul {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
}
.keyword__li {
  list-style: none;
  height: 49rpx;
  line-height: 49rpx;
  border-radius: 100rpx;
  background: #f2f2f2;
  padding: 0 20rpx;
  margin: 0 24rpx 24rpx 0;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #333333;
  text-align: center;
}
</style>

<style scoped>
.searchresult__position {
  position: relative;
  margin-top: 56px;
  z-index: 2;
}
</style>

<style scoped>
.searchresult__wrapper {
  box-sizing: border-box;
  position: relative;
}
.searchresult__ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #fff;
}
.searchresult__li {
  box-sizing: border-box;
  position: relative;
  height: 141rpx;
  padding: 31rpx 30rpx 30rpx 30rpx;
  display: flex;
}
.searchresult__li:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 30rpx;
  right: 30rpx;
  border-top: 1rpx solid #e5e5e5;
}
.searchresult__li:first-child {
  box-sizing: border-box;
  position: relative;
  height: 140rpx;
  padding: 30rpx 30rpx;
  display: flex;
}
.searchresult__li:first-child:before {
  display: none;
}
.searchresult-cell__header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  text-align: center;
}
.searchresult-cell__body {
  box-sizing: border-box;
  position: relative;
  margin-left: 20rpx;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 6rpx;
  padding-bottom: 7rpx;
}
.searchresult-cell__title {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 30rpx;
  line-height: 30rpx;
  font-size: 30rpx;
}
.searchresult-cell__subtitle {
  box-sizing: border-box;
  position: relative;
  margin-top: 14rpx;
  flex: 1;
  height: 100%;
  line-height: 100%;
  background: #fff;
  font-size: 24rpx;
  color: #999999;
  display: flex;
  align-items: center;
  text-align: center;
}
.searchresult__footer {
  box-sizing: border-box;
  position: relative;
  margin-top: 36rpx;
  padding: 0rpx 150rpx;
  display: flex;
  align-items: center;
  text-align: center;
}
.searchresult__hint {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 50rpx;
  line-height: 50rpx;
  font-size: 24rpx;
  color: #01C422;
}
</style>

<style scoped>
.noresult__wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noresult__hint {
  box-sizing: border-box;
  position: relative;
  margin-top: 44rpx;
  height: 24rpx;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24rpx;
  color: #999999;
}
.noresult-cell__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 140rpx;
  display: flex;
  background-color: #fff;
  padding-left: 24rpx;
  padding-right: 30rpx;
}
.noresult-cell__header {
  box-sizing: border-box;
  position: relative;
}
.noresult-cell__body {
  box-sizing: border-box;
  position: relative;
  flex: 2.91;
  padding-top: 37rpx;
  padding-bottom: 37rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noresult-cell__footer {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  padding-top: 42rpx;
  padding-bottom: 42rpx;
}
.noresult-cell__label {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 22rpx;
  line-height: 22rpx;
  font-size: 22rpx;
  color: #999999;
}
.noresult-cell__input {
  box-sizing: border-box;
  position: relative;
  margin-top: 16rpx;
  flex: 1;
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-size: 28rpx;
  color: #333333;
}
.noresult-cell__btn {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  width: 100%;
  height: 100%;
  line-height: 100%;
  border-radius: 100rpx;
  border: 1rpx solid #01C422;
  font-size: 24rpx;
  color: #01C422;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
