<template>
  <div class="dialog-box__wrapper" v-if="showDialog">
    <div class="dialog-box__header">
      <div class="dialog-box__title">{{title}}</div>
    </div>
    <div class="dialog-box__body">
      <input class="dialog-box__input"
        type="text"
        maxlength="16"
        placeholder-class="input__placeholder"
        :placeholder="placeholder"
        :focus="true"
        v-model="content"></input>
    </div>
    <div class="dialog-box__horizontal-spacing"></div>
    <div class="dialog-box__footer">
      <div class="dialog-box__btn" @click="closeHandler">取消</div>
      <div class="dialog-box__vertical-spacing"></div>
      <div class="dialog-box__btn" style="color: #01C422;" @click="confirmHandler">确定</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'inputdialog',
  props: {
    title: {
      type: String,
      default: ''
    },
    placeholder: {
      type: String,
      default: ''
    },
    content: {
      type: String,
      default: ''
    },
    showDialog: {
      type: Boolean,
      default: false
    },
    beforeClose: Function
  },
  data () {
    return {
    }
  },
  watch: {
    visible (val) {
      // console.log('[search][inputdialog][watch][visible] called  val: ', val)
    }
  },
  methods: {
    closeHandler () {
      // 关闭对话框相关事件
      // console.log('[search][inputdialog][closeHandler] called')
      this.$emit('closeInputDialog')
    },
    confirmHandler () {
      // console.log('[search][inputdialog][confirmHandler] called ')
      this.$emit('closeInputDialog', this.content)
    }
  }
}
</script>

<style scoped>
.dialog-box__wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 250rpx;
  left: 95rpx;
  right: 95rpx;
  height: 350rpx;
  border-radius: 16rpx;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 36rpx;
}
.dialog-box__header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  margin-top: 50rpx;
  height: 50rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-box__body {
  box-sizing: border-box;
  position: relative;
  margin-top: 40rpx;
  width: 100%;
  height: 80rpx;
  padding: 0 40rpx 0 40rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dialog-box__footer {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36rpx;
  color: #000000;
}
.dialog-box__title {
  font-size: 36rpx;
  color: #000000;
}
.dialog-box__input {
  box-sizing: border-box;
  position: relative;
  padding-left: 24rpx;
  width: 100%;
  height: 80rpx;
  line-height: 45rpx;
  border-radius: 8rpx;
  border: 1rpx solid #cccccc;
}
.dialog-box__horizontal-spacing {
  box-sizing: border-box;
  position: relative;
  margin-top: 29rpx;
  width: 100%;
  height: 1rpx;
  background: #e5e5e5;
}
.dialog-box__vertical-spacing {
  box-sizing: border-box;
  position: relative;
  width: 1rpx;
  height: 100%;
  background: #e5e5e5;
}
.dialog-box__btn {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
