page {
  background-color: #F2F2F2;
  font-size: 16px;
  font-family: -apple-system-font, PingFang SC, sans-serif;
}

.page__bd {
    padding-bottom: 40px;
}

.product__icon {
  box-sizing: border-box;
  position: relative;
  width: 80rpx;
  height: 80rpx;
  border-radius: 16rpx;
}
.product__icon-median {
  box-sizing: border-box;
  position: relative;
  width: 100rpx;
  height: 100rpx;
  border-radius: 16rpx;
}
.product__icon-mini {
  box-sizing: border-box;
  position: relative;
  width: 48rpx;
  height: 48rpx;
  border-radius: 16rpx;
}
.background__mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.input__placeholder {
  font-size: 16px;
  opacity: 0.8;
}
.temp1 {
  border: 1px solid red;
}
/*
.temp2 {
  border: 1px solid green;
}
.temp3 {
  border: 1px solid blue;
}
.temp4 {
  border: 1px solid pink;
}
.temp5 {
  border: 1px solid purple;
}
*/
