<template>
  <div class="page">
    <div class="page__bd" v-show="!isLoading">
      <div class="home__header">
        <div class="home-search__wrapper" @click="gotoSearch('header')">
          <label class="home-search__input">
            <image class="home-search__icon" :src="searchIcon"></image>
            <div class="home-search__label">搜索网络贷款产品</div>
          </label>
        </div>
        <div class="home-channel__wrapper">
          <div class="home-channel__tabbar">
            <block v-for="(channel,index) in channels" :key="index">
              <div class="home-channel__item" :class="{'item__on':activeIndex == index}" @click="clickChannelHandler(index)">{{channel.label}}</div>
            </block>
            <div class="home-channel__slider" :class="activeTabSlider"></div>
          </div>
        </div>
      </div>
      <div class="home__body">
        <ul class="ranklist__ul">
          <li class="ranklist__li" v-for="(item,index) in items" :key="index" @click="itemTapHandler(index)">
            <div class="ranklist-cell__header">
              <image class="product__icon" lazy-load="true" :src="item.icon"/>
            </div>
            <div class="ranklist-cell__body">
              <div class="ranklist-cell__title">{{item.name}}</div>
              <div class="ranklist-cell__subtitle">
                <div class="ranklist-cell__score1">
                  <ul class="ranklist-dot__ul">
                    <li class="ranklist-dot__li" v-for="(cnt, dot) in 5" :key="dot">
                      <div class="ranklist-dot" :class="{'cover':(cnt + 1) > item.stars}"></div>
                    </li>
                  </ul>
                </div>
                <div class="ranklist-cell__state1">
                  <span v-if="item.stars > 0">{{stamps[item.stars-1]}}</span>
                  <span v-else>评价人数不足</span>
                </div>
              </div>
            </div>
            <div class="ranklist-cell__footer">
              <div class="ranklist-cell__score2">
                <font style="font-size: 48rpx;">
                  <span v-if="item.rate > 0">{{item.rate}}</span>
                  <span v-else>- -</span>
                </font>
                <font style="font-size: 22rpx;"> %</font>
              </div>
              <div class="ranklist-cell__state2">平均利率(年化)</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="home__footer">
        <div class="home-search__hint" @click="gotoSearch('footer')">
          查看更多 >>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// 页面跳转
import {goto} from '@/utils/router/route'
// 获取登录状态
import {getStatus as getLoginStatus} from '@/utils/comm/service/login'
// 榜单数据服务
import {getChannel, getRanking} from '@/utils/cache/service/ranking'
// 提示组件
// import {showLoading, hideLoading} from '@/utils/inform'
import {showLoading} from '@/utils/hint'
// 分享组件
import {sharePage as share} from '@/utils/share'
//
import {searchImage} from '@/utils/pixel/config'
// 用户行为
import {channelClick, channelProductClick} from '@/utils/profile/api'
// 计时器
import {getCurrentTime, calTimeSpan} from '@/utils/clock'

export default {
  name: 'home',
  data () {
    return {
      isLoading: true,
      isFixed: false,
      channels: [],
      activeIndex: 0,
      activeTabSlider: 'home-channel__slider_0',
      items: [],
      isItemTapped: false,
      searchIcon: searchImage,
      stamps: ['高利贷', '较高利率', '中等利率', '良心利率', '慈善利率']
    }
  },
  onLoad (options) {
    // console.log('[home][onLoad] called ', this.$options)
    // 转发设置
    wx.showShareMenu({
      withShareTicket: true
    })
    /*
    if (typeof options !== 'undefined') {
      if (typeof options.source !== 'undefined' && options.source !== 'home') {
        let params = {}
        if (typeof options.message !== 'undefined') {
          params = JSON.parse(options.message)
        }
        goto('home', options.page, params)
      }
    } */
    // 控制变量
    // 页面加载状态
    this.isLoading = true
    // 是否正在加载频道
    this.isChannelLoading = false
    // 获取频道列表
    this.channels = getChannel()
    // 当前tab
    this.activeIndex = 0
    this.activeTabSlider = 'home-channel__slider_0'
    //
    this.isItemTapped = false
    // console.log('[home][onLoad] ', this.isLoading, this.isChannelLoading, this.channels, this.channels[this.activeIndex].tag, this.activeIndex)
    // 登录后执行加载
    this.pipeline()
  },
  onShow () {
    // console.log('[home][onShow] called')
    this.startTime = getCurrentTime()
  },
  onReady () {
    // console.log('[home][onReady] called')
  },
  beforeMount () {
    // console.log('[home][beforeMount] called')
  },
  mounted () {
    // console.log('[home][mounted] called')
  },
  onUnload () {
    // console.log('[home][onUnload] called')
  },
  onPullDownRefresh () {
    // console.log('[home][onPullDownRefresh] called')
    this.refresh()
  },
  onPageScroll (e) {
    // console.log('[home][onPageScroll]  e.scrollTop: ', e.scrollTop)
    /*
    if (e.scrollTop >= 0) {
      if (this.isFixed) {
        return
      }
      this.isFixed = true
    } else {
      this.isFixed = false
    } */
  },
  onShareAppMessage (obj) {
    // console.log('[home][onShareAppMessage]  obj: ', obj)
    // wx.hideNavigationBarLoading()
    let res = share(obj.from, 'home', 'home')
    return res
  },
  methods: {
    pipeline () {
      // console.log('[home][pipeline] called')
      let _this = this
      // (初次)加载流程
      // 重试计数
      _this.retryCount = 0
      // 检查登录，然后加载数据
      showLoading('加载中', function () {
        _this.afterLoginThenLoadHandler()
      })
    },
    afterLoginThenLoadHandler () {
      // console.log('[home][afterLoginThenLoadHandler] called')
      // 确认登录后再进行页面加载
      let _this = this
      let hasLogined = getLoginStatus()
      if (hasLogined) {
        // 加载榜单数据
        _this.requestChannel(_this.channels[_this.activeIndex].tag)
      } else {
        // 轮询操作（重试至多3次）
        if (_this.retryCount <= 3) {
          // 延迟等待，尝试登陆
          _this.retryCount = _this.retryCount + 1
          setTimeout(function () {
            _this.afterLoginThenLoadHandler()
          }, 750 * _this.retryCount)
        } else {
          // 登录错误提示在登录模块中已加入
          // showAlert('错误提示', '用户登录失败')
          // console.log('[home][afterLoginThenLoadHandler]  login fails')
        }
      }
    },
    clickChannelHandler (index) {
      // 切换频道
      // console.log('[home][changeChannelHandler] called: ', index, this.activeIndex)
      //
      let _this = this
      if (_this.activeIndex !== index) {
        _this.activeIndex = index
        _this.activeTabSlider = 'home-channel__slider_' + (this.activeIndex).toString()
        showLoading('加载中', function () {
          _this.requestChannel(_this.channels[_this.activeIndex].tag)
        })
        // 用户行为
        channelClick({channel: _this.channels[_this.activeIndex].label})
      }
    },
    requestChannel (tag, force = false) {
      // console.log('[home][requestChannel] called')
      // 加载榜单数据
      // 注意：因为存在切换频道, 所以必须反复加载
      let _this = this
      if (_this.isChannelLoading) {
        // 是否正在校验session, 轮询等待, 避免重复调用接口
        setTimeout(function () {
          _this.requestChannel(tag)
        }, 500)
      } else {
        _this.isChannelLoading = true
        // 获取榜单数据
        getRanking(tag, force, function (data) {
          // console.log('[getRanking] data: ', data)
          _this.items = data
          _this.isChannelLoading = false
          // 首次加载显示
          if (_this.isLoading) {
            setTimeout(function () {
              _this.isLoading = false
            }, 200)
          }
          // hideLoading()
        })
      }
    },
    refresh () {
      // console.log('[home][refresh]  called')
      // wx.showNavigationBarLoading()
      let _this = this
      _this.requestChannel(_this.channels[_this.activeIndex].tag, true)
      wx.stopPullDownRefresh()
      /*
      showLoading('加载中', function () {
        wx.stopPullDownRefresh()
        //setTimeout(function () {
        //  wx.hideNavigationBarLoading()
        //}, 1000)
      })
      */
    },
    itemTapHandler (index) {
      let _this = this
      if (_this.isItemTapped === false) {
        _this.isItemTapped = true
        let posts = {id: _this.items[index].id}
        goto('home', 'detail', posts)
        _this.isItemTapped = false
      }
      // 用户行为
      let posts = {
        channel: _this.channels[_this.activeIndex].label,
        product: {
          rank: index,
          name: _this.items[index].name,
          id: _this.items[index].id
        },
        time: calTimeSpan(_this.startTime, getCurrentTime(), 'ms')
      }
      channelProductClick(posts)
    },
    gotoSearch (source) {
      // 跳转至搜索页面
      // console.log('[home][gotoSearch] source: ', source)
      goto('home', 'search')
    }
  },
  computed: {
    tabSlider () {
      // console.log('[home][computed][tabSlider]  rankbar__slider_' + (this.activeIndex).toString())
      return 'home-channel__slider_' + (this.activeIndex).toString()
    }
  }
}
</script>

<style scoped>
.home__header {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 184rpx;
  z-index: 999;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.home__body {
  box-sizing: border-box;
  position: relative;
  margin-top: 184rpx;
}
.home__footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 82rpx;
  padding: 40rpx 120rpx 0rpx 120rpx;
  display: flex;
  align-items: center;
}
</style>

<style scoped>
.home-search__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 96rpx;
  padding: 16rpx 24rpx;
  background: #f2f2f2;
  display: flex;
}
.home-search__input {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 100%;
  line-height: 100%;
  border-radius: 100rpx;
  display: flex;
  align-items: center;
  background: #fff;
  font-size: 28rpx;
  color: #999999;
}
.home-search__icon {
  box-sizing: border-box;
  position: relative;
  margin-left: 217rpx;
  width: 32rpx;
  height: 32rpx;
}
.home-search__label {
  box-sizing: border-box;
  position: relative;
  margin-left: 12rpx;
  height: 28rpx;
  flex: 1;
}
.home-search__hint {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 42rpx;
  line-height: 24rpx;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #00C422;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>

<style scoped>
.home-channel__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 88rpx;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.home-channel__tabbar {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 100%;
  line-height: 100%;
  white-space: nowrap;
  display: flex;
  padding-top: 24rpx;
  padding-bottom: 24rpx;
  font-family: PingFangSC-Regular, sans-serif;
  font-size: 28rpx;
  color: #666666;
  align-items: center;
  text-align: center;
}
.home-channel__item {
  box-sizing: border-box;
  position: relative;
  height: 40rpx;
  line-height: 40rpx;
  display: inline-block;
  flex: 1;
}
.home-channel__item.item__on {
  font-family: PingFangSC-Medium, sans-serif;
  color: #00C422;
}
.home-channel__slider {
  content: " ";
  position: absolute;
  bottom: 0;
  width: 48rpx;
  height: 4rpx;
  background-color: #00C422;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.home-channel__slider_0 {
  left: 164rpx;
  transform: translateX(0);
}
.home-channel__slider_1 {
  left: 0;
  transform: translateX(539rpx);
}
</style>

<style scoped>
.ranklist__ul {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background: #fff;
}
.ranklist__li {
  box-sizing: border-box;
  position: relative;
  height: 145rpx;
  display: flex;
  padding: 33rpx 30rpx 32rpx 30rpx;
}
.ranklist__li:before {
  content: " ";
  position: absolute;
  left: 30rpx;
  right: 30rpx;
  top: 0;
  border-top: 1rpx solid #e5e5e5;
}
.ranklist__li:first-child:before {
  left: 0rpx;
  right: 0rpx;
}
.ranklist-cell__header {
  box-sizing: border-box;
  position: relative;
  display: flex;
  text-align: center;
}
.ranklist-cell__body {
  box-sizing: border-box;
  position: relative;
  margin-left: 24rpx;
  flex: 2;
  height: 100%;
  padding-top: 7rpx;
  padding-bottom: 7rpx;
  display: flex;
  flex-direction: column;
}
.ranklist-cell__footer {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 100%;
  padding-top: 2rpx;
  padding-bottom: 1rpx;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.ranklist-cell__title {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 30rpx;
  line-height: 30rpx;
  font-family: PingFangSC-Medium, sans-serif;
  font-size: 30rpx;
  color: #333333;
  display: flex;
  align-items: center;
}
.ranklist-cell__subtitle {
  box-sizing: border-box;
  position: relative;
  margin-top: 14rpx;
  flex: 1;
  display: flex;
  align-items: center;
}
.ranklist-cell__score1 {
  box-sizing: border-box;
  position: relative;
  width: 90rpx;
  height: 100%;
  padding: 4rpx 0 4rpx 0;
}
.ranklist-cell__state1 {
  box-sizing: border-box;
  position: relative;
  margin-left: 4rpx;
  flex: 1;
  height: 100%;
  line-height: 100%;
  font-size: 11px;
  color: #999999;
}
.ranklist-cell__score2 {
  box-sizing: border-box;
  position: relative;
  height: 48rpx;
  line-height: 48rpx;
  color: #FF6C01;
}
.ranklist-cell__state2 {
  box-sizing: border-box;
  position: relative;
  margin-top: 7rpx;
  flex: 1;
  height: 100%;
  line-height: 100%;
  color: #999999;
  font-size: 22rpx;
}
</style>

<style scoped>
.ranklist-dot__ul {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
}
.ranklist-dot__li {
  list-style: none;
  margin-right: 4rpx;
  text-align: center;
}
.ranklist-dot {
  width: 14rpx;
  height: 14rpx;
  border-radius: 100rpx;
  background: #00C422;
}
.ranklist-dot.cover {
  background: #d8d8d8;
}
</style>

<style scoped>
/*
<div class="home__body">
  <ul class="ranklist__ul">
    <li class="ranklist__li" v-for="(item,index) in items" :key="index" @click="itemTapHandler(index)">
      <div class="ranklist-cell__header">
        <image class="product__icon" lazy-load="true" :src="item.icon"/>
      </div>
      <div class="ranklist-cell__body">
        <div class="ranklist-cell__title">{{item.name}}</div>
        <div class="ranklist-cell__subtitle">
          <div class="ranklist-cell__score1">
            <ul class="ranklist-dot__ul">
              <li class="ranklist-dot__li" v-for="(cnt, dot) in 5" :key="dot">
                <div class="ranklist-dot" :class="{'cover':(cnt + 1) > item.stars}"></div>
              </li>
            </ul>
          </div>
          <div class="ranklist-cell__state1">
            <span v-if="item.stars > 0">{{stamps[item.stars-1]}}</span>
            <span v-else>评价人数不足</span>
          </div>
        </div>
      </div>
      <div class="ranklist-cell__footer">
        <div class="ranklist-cell__score2">
          <font style="font-size: 48rpx;">
            <span v-if="item.rate > 0">{{item.rate}}</span>
            <span v-else>- -</span>
          </font>
          <font style="font-size: 22rpx;"> %</font>
        </div>
        <div class="ranklist-cell__state2">平均利率(年化)</div>
      </div>
    </li>
  </ul>
</div>
.home__header.fixed {
  position: fixed;
  top: 0;
  left: 0;
}
*/
</style>
