<template>
  <div class="page" v-show="!isLoading">
    <div class="page__bd product__wrapper">
      <div class="product-info__wrapper">
        <div class="product-info__header">
          <image class="product__icon-mini" :src="product.info.iconUrl" @error="imageErrorHandler"></image>
        </div>
        <div class="product-info__body">
          <div class="product-info__name">{{product.info.name}}</div>
        </div>
        <div class="product-info__footer">
          <div class="product-info__company">{{product.info.company}}</div>
        </div>
      </div>
      <div class="comment__wrapper" style="margin-top: 16rpx;">
        <div class="comment-headline">
          <div class="comment-headline__deck"></div>
          <div class="comment-headline__label">平均利率(年化)</div>
          <div class="comment__button detail_counter_click" style="margin-right: 24rpx;" v-if="counter.items.length > 0" @click="gotoCounterHandler">利率照妖镜</div>
        </div>
        <div class="counter-comment__wrapper" :style="counter.items.length > 0? 'height: 312rpx;' : 'height: 293rpx;'">
          <ul class="counter-comment__ul" v-if="counter.items.length > 0">
            <li class="counter-comment__li" v-for="(item,index) in counter.items" :key="index">
              <div class="counter-comment-cell__label">{{counter.labels[index]}}</div>
              <progress class="counter-comment-cell__progress" border-radius="100rpx" stroke-width="16rpx" :percent="item.value" />
              <div class="counter-comment-cell__value">{{item.count}}</div>
            </li>
          </ul>
          <div class="counter-comment-empty" v-else>
            <div class="counter-comment-empty__hint">你知道吗？月费率1.0%的年化利率是21.46%</div>
            <div class="counter-comment-empty__entrance">
              <div class="comment__button detail_counter_click" @click="gotoCounterHandler">利率照妖镜</div>
            </div>
          </div>
        </div>
      </div>
      <div class="comment__wrapper" style="margin-top: 16rpx; padding-bottom: 40rpx;">
        <div class="comment-headline">
          <div class="comment-headline__deck"></div>
          <div class="comment-headline__label">他们这么说</div>
          <div class="comment__button detail_survey_click" style="margin-right: 24rpx;" @click="gotoSurveyHandler">轻点评</div>
        </div>
        <div class="survey-comment__wrapper">
          <ul class="survey-comment__ul" v-if="survey.items.length > 0">
            <li class="survey-comment__li" v-for="(item, index) in survey.items" :key="index">
              <span>{{item.tag}}</span><span>(</span><span>{{item.count}}</span><span>)</span>
            </li>
          </ul>
        </div>
        <div class="vote-comment__wrapper">
          <div class="vote-comment__option" style="background-color: #00C422;" @click="tapVoteHandler(vote.topic.options[0].tag)">{{vote.topic.options[0].label}}</div>
          <div class="vote-comment__body">
            <progress class="vote-comment__progress" :percent="vote.percent"></progress>
            <div class="vote-comment-scale">
              <div class="vote-comment-scale__value" style="top: 0; left: 0;">{{vote.topic.options[0].count}}</div>
              <div class="vote-comment-scale__value" style="top: 0; right: 0;">{{vote.topic.options[1].count}}</div>
            </div>
          </div>
          <div class="vote-comment__option" style="background-color: #D8D8D8;" @click="tapVoteHandler(vote.topic.options[1].tag)">{{vote.topic.options[1].label}}</div>
        </div>
      </div>
      <div class="product-tabbar__wrapper">
        <div class="product-tabbar__cell">
          <image class="product-tabbar__icon" :src="homeImage" @click="gotoHomeHandler"></image>
        </div>
        <div class="product-tabbar__rest">
          <button class="product-tabbar__enroll"
                  type="primary"
                  open-type="share">分享</button>
        </div>
        <div class="product-tabbar__cell"></div>
      </div>
    </div>
  </div>
</template>

<script>
// 数字处理
import {toNumberExpression as transform, maxSlice} from '@/utils/word'
//
import {getProductInfo, getVoteComment} from './batch'
// 远程通信
import {request} from '@/utils/comm/fly'
import {addVoteCommentUrl, productImageUrl as imageUrl} from '@/utils/comm/config'
// 页面跳转
import {goto, getRouting} from '@/utils/router/route'
// 获取登录状态
import {getStatus as getLoginStatus} from '@/utils/comm/service/login'
// 提示组件
// import {showLoading, hideLoading, showSuccess} from '@/utils/inform'
import {showLoading, showSuccess} from '@/utils/hint'
// 分享组件
import {sharePage as share} from '@/utils/share'
// 图片组件
import {homeImage} from '@/utils/pixel/config'

export default {
  data () {
    return {
      isLoading: true,
      product: {},
      counter: {},
      survey: {},
      vote: {},
      homeImage: homeImage,
      goBackFlag: ''
    }
  },
  onLoad (options) {
    // console.log('[detail][onLoad] options: ', options)
    let _this = this
    _this.init()
    // 参数解析
    if (typeof options !== 'undefined' && Object.keys(options).length > 0) {
      // 页面跳转解析
      if (typeof options.type !== 'undefined' && options.type === 'share') {
        // 分享进入
        _this.goBackFlag = 'goHome'
      } else {
        // 利率计算进入
        _this.goBackFlag = 'goBack'
      }
      // 参数解析
      let obj = JSON.parse(options.message)
      if (typeof obj.id === 'string') {
        showLoading('加载中', function () {
          _this.afterLoginThenLoadHandler(obj.id)
        })
      }
    }
  },
  onShow () {
    // console.log('[detail][onShow]')
  },
  onReady () {
    // console.log('[detail][onReady]')
  },
  beforeMount () {
    // console.log('[detail][beforeMount] called')
  },
  mounted () {
    // console.log('[detail][mounted] called')
  },
  onUnload () {
    // console.log('[detail][onUnload] called')
  },
  onShareAppMessage (obj) {
    // console.log('[detail][onShareAppMessage]  obj: ', obj)
    let slogan = '在' + this.product.info.name + '真能借到钱? 真实情况是...'
    // 用户分享行为
    let action = {id: this.product.info.id, name: this.product.info.name}
    let res = share(obj.from, 'detail', 'detail', {id: this.product.info.id}, slogan, action)
    return res
  },
  methods: {
    init () {
      // 页面相关数据刷新
      // 产品明细
      this.product = {info: {id: '', name: '', icon: '', company: '', link: ''}, access: {counter: false, survey: false, vote: false, login: false}}
      // 利率点评统计
      this.counter = {labels: ['小于10.00%', '10.01-18.25%', '18.26-30.00%', '30.01-36.00%', '超过36.01%'], items: []}
      // 问卷点评统计
      this.survey = {items: []}
      // 投票点评统计
      let obj = require('./vote')
      let vote = {id: obj.getVoteId(), topic: obj.getTopic(0), percent: '0'}
      for (var i = 0; i < vote.topic.options.length; i++) {
        vote.topic.options[i].value = 0
        vote.topic.options[i].count = transform(0)
      }
      vote.percent = '50'
      //
      this.isButtonTapped = false
      //
      this.isLoading = true
      //
      this.retryCount = 0
      // 投票对象
      this.vote = vote
      this.isVoting = false
      //
      this.goBackFlag = ''
    },
    afterLoginThenLoadHandler (pid) {
      // 确认登录后再进行页面加载
      let _this = this
      let hasLogined = getLoginStatus()
      if (hasLogined) {
        showLoading('加载中', function callback () {
          let posts = {'ProductId': pid}
          let successList = [
            _this.detailSuccessHandler,
            _this.counterSuccessHandler,
            _this.surveySuccessHandler,
            _this.voteSuccessHandler
          ]
          getProductInfo(posts, successList, null,
            function callback () {
              if (_this.isLoading) {
                _this.isLoading = false
              }
            })
        })
      } else {
        // 轮询操作（重试至多3次）
        if (_this.retryCount <= 3) {
          // 延迟等待，尝试登陆
          _this.retryCount = _this.retryCount + 1
          setTimeout(function () {
            _this.afterLoginThenLoadHandler()
          }, 750 * _this.retryCount)
        } else {
          // 登录错误提示在登录模块中已加入
          console.log('[detail][afterLoginThenLoadHandler]  login fails')
        }
      }
    },
    detailSuccessHandler (obj) {
      // console.log('[detail][detailSuccessHandler] called:', obj)
      // 网贷产品明细数据获取成功
      let product = {info: {id: '', name: '', icon: '', company: '', link: ''}, access: {counter: false, survey: false, vote: false, login: false}}
      try {
        // 产品信息
        let info = obj.data.Result.Info
        product.info.id = info.ProductId || ''
        product.info.name = maxSlice((info.Name || ''), 6)
        product.info.icon = info.Icon
        product.info.iconUrl = imageUrl + '/' + info.Icon
        product.info.company = maxSlice((info.Company || '未收录'), 16)
        product.info.link = info.LoginLink || ''
        // 产品权限
        let auth = obj.data.Result.State
        product.access.counter = (auth.Counter === 1)
        product.access.survey = (auth.Survey === 1)
        product.access.vote = (auth.Vote === 1)
        product.access.login = (auth.Login === 1)
        //
        this.product = product
      } catch (e) {
        // console.warn('[detail][detailSuccessHandler] e: ', e)
      }
    },
    counterSuccessHandler (obj) {
      // console.log('[detail][counterSuccessHandler] called:', obj)
      try {
        let items = []
        let state = obj.data.Result.State
        if (state === true) {
          let stats = obj.data.Result.Count
          if (stats.length > 0) {
            let total = stats.reduce((a, b) => a + b, 0)
            if (total > 0) {
              for (let i = 0; i < stats.length; i++) {
                let item = {}
                item.count = transform(stats[i])
                item.value = (stats[i] / total * 100).toFixed(2).toString()
                items.push(item)
              }
            }
          }
        }
        this.counter.items = items
      } catch (e) {
        console.warn('[detail][counterSuccessHandler] e: ', e)
      }
    },
    surveySuccessHandler (obj) {
      // console.log('[detail][surveySuccessHandler] called:', obj)
      try {
        let items = []
        let state = obj.data.Result.State
        // console.log('[surveySuccessHandler] state: ', state, typeof state)
        if (state === true) {
          let data = obj.data.Result.Data
          for (let i = 0; i < data.length; i++) {
            let item = {}
            item.tag = data[i].Tag
            item.count = data[i].Count
            items.push(item)
          }
          // 根据数量从大到校排序
          items.sort(function (a, b) {
            return b.count - a.count
          })
        }
        this.survey.items = items
      } catch (e) {
        console.warn('[detail][surveySuccessHandler] e: ', e)
      }
    },
    voteSuccessHandler (obj) {
      console.log('[detail][voteSuccessHandler] called:', obj)
      try {
        // 格式: {'Data': [{'Tag':xx, 'Count':xx}], 'ProductId': 'e01cea-00', 'VoteId': 'v001'}
        let items = obj.data.Result.Data
        for (var i = 0; i < items.length; i++) {
          let tag = items[i].Tag
          let cnt = items[i].Count
          for (var j = 0; j < this.vote.topic.options.length; j++) {
            if (this.vote.topic.options[j].tag === tag) {
              this.vote.topic.options[j].count = transform(cnt)
              this.vote.topic.options[j].value = cnt
              break
            }
          }
        }
      } catch (e) {
        console.warn('[detail][voteSuccessHandler] e: ', e)
      }
      // temp
      let total = this.vote.topic.options[0].value + this.vote.topic.options[1].value
      if (total > 0) {
        this.vote.percent = (this.vote.topic.options[0].value / total * 100).toFixed(2).toString()
      }
    },
    tapVoteHandler (tag) {
      let _this = this
      if (_this.isVoting === false) {
        _this.isVoting = true
        let posts = {'ProductId': _this.product.info.id, 'VoteId': _this.vote.id, 'TopicId': _this.vote.topic.id, 'Option': tag}
        showSuccess('投票成功', function () {
          request(addVoteCommentUrl, 'post', posts, function success () {
            let votePosts = {'ProductId': posts.ProductId}
            getVoteComment(votePosts,
              function success (res) {
                _this.voteSuccessHandler(res)
                _this.isVoting = false
              }, null)
            }, function fail () {
              _this.isVoting = false
            }, true)
          })
      }
    },
    gotoCounterHandler (e) {
      let _this = this
      if (_this.isButtonTapped === false) {
        _this.isButtonTapped = true
        let data = {
          id: _this.product.info.id,
          name: _this.product.info.name,
          icon: _this.product.info.icon
        }
        goto('detail', 'counterbro', data)
        this.isButtonTapped = false
      }
    },
    gotoSurveyHandler (e) {
      // 进入问卷点评
      if (this.isButtonTapped === false) {
        this.isButtonTapped = true
        let data = {id: this.product.info.id, rank: 0, name: this.product.info.name}
        goto('detail', 'survey_topic0', data)
        this.isButtonTapped = false
      }
    },
    gotoHomeHandler (e) {
      if (this.isButtonTapped === false) {
        this.isButtonTapped = true
        if (this.goBackFlag === 'goBack') {
          wx.navigateBack({
            delta: 1
          })
        } else {
          wx.switchTab({
            url: getRouting('home')
          })
        }
        this.isButtonTapped = false
      }
    },
    imageErrorHandler (e) {
      this.product.info.icon = '/static/images/public/default_icon.png'
    }
  }
}
</script>

<style scoped>
.survey-comment__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  padding: 32rpx 24rpx 8rpx 24rpx;
}
.survey-comment__ul {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
}
.survey-comment__li {
  list-style: none;
  height: 48rpx;
  line-height: 24rpx;
  border-radius: 100rpx;
  background: #f2f2f2;
  padding: 0 24rpx;
  margin: 0 24rpx 24rpx 0;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
  text-align: center;
}
</style>

<style scoped>
.vote-comment__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 60rpx 40rpx 60rpx 40rpx;
  display: flex;
}
.vote-comment__option {
  box-sizing: border-box;
  position: relative;
  width: 120rpx;
  height: 120rpx;
  border-radius: 100rpx;
  font-size: 22rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vote-comment__body {
  box-sizing: border-box;
  position: relative;
  padding-left: 40rpx;
  padding-right: 40rpx;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vote-comment__progress {
  box-sizing: border-box;
  position: relative;
  margin-top: 42rpx;
  width: 100%;
  height: 20rpx;
}
.vote-comment-scale {
  box-sizing: border-box;
  position: relative;
  margin-top: 16rpx;
  flex: 1;
  width: 100%;
}
.vote-comment-scale__value {
  box-sizing: border-box;
  position: absolute;
  height: 20rpx;
  line-height: 20rpx;
  font-size: 20rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #999999;
}
</style>

<style scoped>
.product__wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}
.product-info__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 88rpx;
  padding-left: 24rpx;
  padding-right: 24rpx;
  background: #fff;
  display: flex;
}
.product-tabbar__wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 98rpx;
  z-index: 999;
  background: #fff;
  display: flex;
  align-items: center;
}
</style>

<style scoped>
.product-info__header {
  box-sizing: border-box;
  position: relative;
  width: 48rpx;
  height: 100%;
  display: flex;
  align-items: center;
}
.product-info__body {
  box-sizing: border-box;
  position: relative;
  margin-left: 16rpx;
  width: 180rpx;
  height: 100%;
}
.product-info__footer {
  box-sizing: border-box;
  position: relative;
  flex: 1;
}
.product-info__name {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 30rpx;
  font-size: 30rpx;
  font-family: PingFangSC-Medium, sans-serif;
  color: #000000;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.product-info__company {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 28rpx;
  font-size: 28rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #333333;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
</style>

<style scoped>
.comment__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}
.comment-headline {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 97rpx;
  display: flex;
  align-items: center;
  border-bottom: 1rpx solid #E5E5E5;
}
.comment-headline__deck {
  box-sizing: border-box;
  position: relative;
  margin-left: 24rpx;
  width: 6rpx;
  height: 30rpx;
  border-radius: 100rpx;
  background: #01C422;
}
.comment-headline__label {
  box-sizing: border-box;
  position: relative;
  margin-left: 12rpx;
  flex: 1;
  height: 100%;
  line-height: 30rpx;
  font-size: 30rpx;
  font-family: PingFangSC-Medium, sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
}
.comment__button {
  box-sizing: border-box;
  position: relative;
  width: 178rpx;
  height: 56rpx;
  line-height: 56rpx;
  border-radius: 100rpx;
  border: 1rpx solid #01C422;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #01C422;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>

<style scoped>
.counter-comment__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.counter-comment__ul {
  box-sizing: border-box;
  position: relative;
  padding: 26rpx 0 26rpx 0;
  flex: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}
.counter-comment__li {
  box-sizing: border-box;
  position: relative;
  height: 52rpx;
  padding: 14rpx 0 14rpx 0;
  display: flex;
  align-items: center;
}
.counter-comment-cell__label {
  box-sizing: border-box;
  position: relative;
  width: 201rpx;
  height: 100%;
  line-height: 100%;
  font-size: 24rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.counter-comment-cell__progress {
  box-sizing: border-box;
  position: relative;
  margin-left: 24rpx;
  width: 411rpx;
  height: 40rpx;
}
.counter-comment-cell__value {
  box-sizing: border-box;
  position: relative;
  margin-left: 20rpx;
  flex: 1;
  height: 100%;
  line-height: 20rpx;
  font-size: 20rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #666666;
  display: flex;
  align-items: center;
  text-align: left;
}
.counter-comment-empty {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 24rpx;
  display: flex;
  flex-direction: column;
}
.counter-comment-empty__hint {
  box-sizing: border-box;
  position: relative;
  margin-top: 80rpx;
  width: 100%;
  height: 37rpx;
  line-height: 37rpx;
  font-size: 26rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-comment-empty__entrance {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>

<style scoped>
.product-tabbar__cell {
  box-sizing: border-box;
  position: relative;
  width: 100rpx;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.product-tabbar__cell::after {
  border: none;
}
.product-tabbar__icon {
  box-sizing: border-box;
  position: relative;
  width: 44rpx;
  height: 44rpx;
}
.product-tabbar__rest {
  box-sizing: border-box;
  position: relative;
  flex: 1;
  height: 100%;
  padding: 13rpx 40rpx 13rpx 28rpx;
  display: flex;
  align-items: center;
}
.product-tabbar__enroll {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 30rpx;
  border-radius: 100rpx;
  background: #00C422;
  font-size: 30rpx;
  font-family: PingFangSC-Regular, sans-serif;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
 v-show="!isLoading"
 <div class="comment-headline__entrance" @click="gotoCounterHandler" v-if="counter.items.length > 0">利率照妖镜</div>
 <div class="interest__horizontal-spacing"></div>

<div class="product-comment__position">
  <div class="comment__wrapper">
    <div class="comment__header">
      <div class="comment__deck"></div>
      <div class="comment__label">他们这么说</div>
      <div class="comment__button" @click="gotoBitcommentHandler">轻点评</div>
    </div>
    <div class="comment__horizontal-spacing"></div>
    <div class="comment__body" :style="comment.items.length > 0? 'padding-bottom: 60px;' : 'height:140px;'">
      <ul class="comment__ul" v-if="comment.items.length > 0">
        <li class="comment__li" v-for="(item, index) in comment.items" :key="index">
          <span>{{item.tag}}</span><span>(</span><span>{{item.count}}</span><span>)</span>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="product-tabbar__wrapper">
  <div class="product-tabbar__cell">
    <image class="product-tabbar__icon" :src="homeImage" @click="gotoHomeHandler"></image>
  </div>
  <button class="product-tabbar__cell" type="default" open-type="share">
    <image class="product-tabbar__icon" :src="shareImage"></image>
  </button>
  <div class="product-tabbar__cell"></div>
  <div class="product-tabbar__rest">
    <button class="product-tabbar__enroll"
            type="primary"
            :disabled="!product.access.login"
            open-type="share">分享</button>
  </div>
</div>
 */
</style>
