<template>
  <div class="page" v-show="!isLoading">
    <div class="background__mask"
      v-if="isDialogShown"
      @touchmove.stop="preventTouchMove"
      @click="dialogCloseHandler">
      <tipsDialog
        :title="tips.title"
        :content="tips.content"
        :quit="tips.affirm"
        v-bind:showDialog="isDialogShown"
        @doExitTap="exitHandler"></tipsDialog>
    </div>
    <div class="comment__wrapper">
      <image class="comment__background" lazy-load="true" :src="backgroundImage"></image>
      <div class="comment-topic__wrapper">
        <div class="comment-topic__header">
          <image class="comment-topic__header-background" lazy-load="true" :src="headerImage"></image>
          <div class="comment-topic__title">{{topic.title}}</div>
        </div>
        <div class="comment-topic__body">
          <ul class="comment-topic__ul">
            <li class="comment-topic__li" v-for="(option,index) in topic.options" :key="index">
              <button class="comment-topic__button" :class="{'turn__on':activeIndex == index}" @click.stop="optionTapHandler(index)">{{option}}</button>
            </li>
          </ul>
        </div>
        <div class="comment-topic__footer">
          <div class="comment-topic__tips" @click="tipsTapHandler">{{topic.quit}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
// tips组件
import tipsDialog from './tips'
// 页面跳转
import {goto} from '@/utils/router/route'
// 通信组件
import {request} from '@/utils/comm/fly'
import {addSurveyCommentUrl as addUrl, elementImageUrl} from '@/utils/comm/config'
// 提示组件
// import {showLoading, hideLoading, showAlert} from '@/utils/inform'
import {showLoading, showAlert} from '@/utils/hint'
// 缓存服务
import {getSurvey} from '@/utils/cache/service/survey'
// 图片元素
// import {surveyBackgroundImage, surveyTopicHeaderImage} from '@/utils/pixel/config'
// 分享组件
import {sharePage as share} from '@/utils/share'
//
import {surveyPageView, surveyAnswer} from '@/utils/profile/api'
import {getLastPage} from '@/utils/tool'
// 计时器
import {getCurrentTime, calTimeSpan} from '@/utils/clock'

export default {
  name: 'survey',
  components: {
    tipsDialog
  },
  data () {
    // console.log('[survey][data] called  ')
    return {
      isLoading: true,
      isDialogShown: false,
      topic: {},
      tips: {},
      activeIndex: -1,
      backgroundImage: elementImageUrl + '/survey_background.png',
      headerImage: elementImageUrl + '/survey_header.png',
      action: {}
    }
  },
  onLoad (options) {
    // console.log('[survey][onLoad] called ', options)
    // 正向跳转配置
    let _this = this
    // 初始化
    _this.init()
    // 传参数包括
    // - id: 产品id
    // - index: 第几题
    let params = JSON.parse(options.message)
    // 产品Id
    _this.survey.pid = params.id
    // 获取问题排位（第几个问题）
    _this.survey.rank = parseInt(params.rank)
    // 其它信息
    _this.others.productName = params.name
    // 行为数据
    _this.action.product = {
      id: params.id,
      name: params.name
    }
    _this.action.lastPage = getLastPage(2)
    // 初始化问卷题库
    if (_this.bank === 'undefined' || _this.bank === null) {
      _this.bank = require('./bank')
      showLoading('加载中', function callback () {
        getSurvey(false, function callback (obj) {
          _this.bank.init(obj)
          // 页面问题初始化
          _this.retryCount = 0 // 重试计数器
          _this.afterBankThenLoadHandler()
        })
      })
    }
  },
  onShow (options) {
    // console.log('[survey][onShow] called  options: ', options)
    // console.log('action: ', this.action)
    this.startTime = getCurrentTime()
    //
    let pages = getCurrentPages()
    var currentPage = pages[pages.length - 1]
    if (typeof currentPage.data.lastPage !== 'undefined') {
      this.action.lastPage = currentPage.data.lastPage
      // 用户行为
      surveyPageView(this.action)
    }
    // console.log('[survey][onShow] action: ', this.action)
  },
  onReady () {
    // console.log('[survey][onReady] called')
  },
  onUnload () {
    // console.log('[survey][onUnload] called')
    // 回退处理
    let pages = getCurrentPages()
    var previousPage = pages[pages.length - 2]
    previousPage.setData({
      lastPage: getLastPage(1)
    })
    // previousPage.data.$root[0].action.lastPage = currentPage.route
    /*
    if (this.survey.rank > 0) {
      previousPage.setLastPage(1)
    }*/
    // previousPage.options.lastPage = this.
    /* 返回上一题
    this.rank = this.rank - 1
    if (this.rank >= 0) {
      this.topic = this.bank.getTopic(this.rank)
      this.tips = this.bank.getTips(this.rank)
      this.activeIndex = this.bank.getOption(this.rank)
    } else {
      this.topic = {}
      this.tips = {}
      this.activeIndex = -1
    }
    */
  },
  onShareAppMessage (obj) {
    // console.log('[detail][onShareAppMessage]  obj: ', obj)
    let slogan = '在' + this.others.productName + '真能借到钱? 真实情况是...'
    let res = share(obj.from, 'survey_topic' + this.survey.rank.toString(), 'detail', {id: this.survey.pid}, slogan)
    return res
  },
  methods: {
    init () {
      let _this = this
      // 载入状态
      _this.isLoading = true
      // 关闭对话框
      _this.isDialogShown = false
      // 问题
      _this.topic = {}
      // 小经验
      _this.tips = {}
      // 选项
      _this.activeIndex = -1
      // 问卷对象
      _this.bank = null
      // 按钮状态
      _this.isOptionClicked = false
      // 问卷对象
      _this.survey = {pid: '', sid: '', tid: ''}
      // 其它信息
      _this.others = {productName: ''}
      //
      _this.action = {
        product: {
          id: '',
          name: ''
        },
        survey: {
          id: '',
          topic: {
            rank: -1,
            id: ''
          },
          option: {
            rank: -1,
            value: ''
          }
        },
        lastPage: ''
      }
    },
    afterBankThenLoadHandler () {
      // console.log('[survey][afterBankThenLoadHandler] called')
      // 确认登录后再进行页面加载
      let _this = this
      //
      _this.retryCount = _this.retryCount + 1
      // console.log(_this.bank.getTotal())
      // 轮询操作（重试至多3次）
      if (_this.bank.getTotal() > 0) {
        // console.log('[closeToast] before')
        /* 关闭toast
        hideLoading(function callback () {
          // console.log('[closeToast] callback called')
          // 问卷Id
          _this.survey.sid = _this.bank.getSurveyId()
          // 问题Id
          _this.survey.tid = _this.bank.getTopicId(_this.survey.rank)
          // 初始化
          _this.topic = _this.bank.getTopic(_this.survey.rank)
          _this.tips = _this.bank.getTips(_this.survey.rank)
          // 首次加载处理
          if (_this.isLoading) {
            setTimeout(function () {
              _this.isLoading = false
            }, 100)
          }
        }) */
        // 问卷Id
        _this.survey.sid = _this.bank.getSurveyId()
        // 问题Id
        _this.survey.tid = _this.bank.getTopicId(_this.survey.rank)
        // 初始化
        _this.topic = _this.bank.getTopic(_this.survey.rank)
        _this.tips = _this.bank.getTips(_this.survey.rank)
        // 用户行为
        _this.action.survey = {
          id: _this.survey.sid,
          topic: {
            rank: _this.survey.rank,
            id: _this.survey.tid
          }
        }
        // 用户行为
        surveyPageView(_this.action)
        // 首次加载处理
        if (_this.isLoading) {
          setTimeout(function () {
            _this.isLoading = false
          }, 100)
        }
      } else {
        // 延迟等待
        if (_this.retryCount <= 3) {
          setTimeout(function () {
            _this.afterLoginThenLoadHandler()
          }, 500 * _this.retryCount)
        } else {
          // 题库加载错误，中断
          showAlert('错误提示', '轻点评加载错误')
        }
      }
    },
    optionTapHandler (index) {
      // 点击选项事项
      // console.log('[survey][optionTapHandler] called')
      let _this = this
      if (_this.isOptionClicked === false) {
        _this.isOptionClicked = true
        //
        _this.activeIndex = index
        // 保存选项
        let option = _this.topic.options[_this.activeIndex]
        let rank = _this.survey.rank
        // console.log('[survey][optionTapHandler][postComment] before')
        // console.log(_this.survey.pid, _this.survey.sid, _this.survey.tid, option, rank)
        _this.postComment(_this.survey.pid, _this.survey.sid, _this.survey.tid, option, rank)
        // 是否跳转
        let next = rank + 1
        if (_this.bank.has(next)) {
          // 跳转至下一题
          let data = {id: _this.survey.pid, rank: next, name: _this.others.productName}
          goto('survey_topic' + rank.toString(), 'survey_topic' + next.toString(), data)
          // 用户行为
          _this.action.survey.option = {
            rank: _this.activeIndex,
            value: option
          }
          _this.action.time = calTimeSpan(_this.startTime, getCurrentTime(), 'ms')
          surveyAnswer(_this.action)
        } else {
          // 答题结束, 显示对话框
          _this.isDialogShown = true
        }
        _this.isOptionClicked = false
      }
    },
    tipsTapHandler () {
      // 点击小经验事件
      // console.log('[survey][tipsTapHandler] called')
      let _this = this
      if (_this.isOptionClicked === false) {
        // 加锁
        _this.isOptionClicked = true
        // 重置选项
        _this.activeIndex = -1
        // 1. 上传用户选项
        let option = _this.topic.quit
        _this.postComment(_this.survey.pid, _this.survey.sid, _this.survey.tid, option, _this.survey.rank)
        // 2. 显示小经验
        this.isDialogShown = true
        // 解锁
        _this.isOptionClicked = false
      }
    },
    exitHandler () {
      // 退出问卷点评事件
      let _this = this
      if (_this.isOptionClicked === false) {
        // 加锁
        _this.isOptionClicked = true
        // 1. 回到产品明细
        wx.navigateBack({
          delta: _this.survey.rank + 1
        })
        // 2. 关闭对话框
        _this.isDialogShown = false
        // 解锁
        _this.isOptionClicked = false
      }
    },
    dialogCloseHandler () {
      this.isDialogShown = false
    },
    postComment (pid, sid, tid, option, rank = -1, callback = null) {
      // 上传点评结果
      if (pid && sid && tid && option && rank > -1) {
        // 数据配置
        let posts = {ProductId: pid, SurveyId: sid, TopicId: tid, Reply: option, Rank: rank, callback}
        request(addUrl, 'post', posts,
          function success (res) {
            typeof callback === 'function' && callback(res)
          },
          function fail (res) {
            typeof callback === 'function' && callback(res)
          }, true)
      }
    },
    preventTouchMove () {
      // console.log('[survey][preventTouchMove] called')
    },
  }
}
</script>

<style scoped>
.comment__wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-topic__wrapper {
  box-sizing: border-box;
  position: relative;
  width: 345px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #ffffff;
}
.comment-topic__header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 160rpx;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.comment-topic__body {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.comment-topic__footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-topic__title {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 22.5px;
  font-size: 16px;
  font-family: PingFangSC-Medium, sans-serif;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-topic__ul {
  box-sizing: border-box;
  position: relative;
  padding: 20px 15px 0px 15px;
}
.comment-topic__li {
  box-sizing: border-box;
  position: relative;
  padding: 7.5px 15px 7.5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment-topic__button {
  box-sizing: border-box;
  position: relative;
  width: 315px;
  height: 47px;
  line-height: 47px;
  border-radius: 50px;
  font-size: 14px;
  color: #000000;
  border: 0.5px solid #cccccc;
  background-color: #fff;
}
.comment-topic__button.turn__on {
  color: #ffffff;
  border: 0.5px solid #00C422;
  background-color: #00C422;
}
.comment-topic__tips {
  box-sizing: border-box;
  position: relative;
  padding: 8px 15px;
  font-size: 14px;
  color: #00C422;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comment__background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.comment-topic__header-background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
</style>
