<template>
  <div class="tips__wrapper" v-if="showDialog" :style="content? 'top:250rpx' : 'top:400rpx'">
    <div class="tips__header">
      <image class="tips__header-background" lazy-load="true" :src="headerImage"></image>
      <div class="tips__title">{{title}}</div>
    </div>
    <div class="tips__body" v-if="content">
      <div class="tips__content">{{content}}</div>
    </div>
    <div :class="[content ? 'tips__footer' : 'tips__footer-finalquit']">
      <div class="tips__button" @click="closeHandler">{{quit}}</div>
    </div>
  </div>
</template>

<script>
// import {surveyTipsHeaderImage} from '@/utils/pixel/config'
import {elementImageUrl} from '@/utils/comm/config'

export default {
  name: 'tipsDialog',
  props: {
    title: {
      type: String,
      default: ''
    },
    content: {
      type: String,
      default: ''
    },
    quit: {
      type: String,
      default: ''
    },
    showDialog: {
      type: Boolean,
      default: false
    },
    beforeClose: Function
  },
  data () {
    return {
      headerImage: elementImageUrl + '/survey_header.png'
    }
  },
  onLoad () {
    // console.log('[tips][onLoad] called ')
  },
  onShow () {
    // console.log('[tips][onShow] called ')
  },
  onReady () {
    // console.log('[tips][onReady] called')
  },
  onUnload () {
    // console.log('[tips][onUnload] called ')
  },
  methods: {
    // 初始化模块
    init () {
    },
    closeHandler () {
      this.$emit('doExitTap', {message: 'giveup'})
    }
  }
}
</script>

<style scoped>
.tips__wrapper {
  box-sizing: border-box;
  position: absolute;
  left: 30rpx;
  right: 30rpx;
  height: auto;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  border-radius: 16rpx;
  background: #ffffff;
}
.tips__header {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 160rpx;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.tips__header-background {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tips__body {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.tips__footer {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 142rpx;
  padding-top: 0;
  padding-bottom: 48rpx;
  display: flex;
  justify-content: center;
}
.tips__footer-finalquit {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 190rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tips__title {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 45rpx;
  font-size: 32rpx;
  font-family: PingFangSC-Medium, sans-serif;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tips__content {
  box-sizing: border-box;
  position: relative;
  padding: 60rpx 50rpx 60rpx 50rpx;
  line-height: 44rpx;
  white-space:pre-wrap;
  white-space:-moz-pre-wrap;
  white-space:-o-pre-wrap;
  word-wrap:break-word;
  font-size: 28rpx;
  color: #333333;
}
.tips__button {
  box-sizing: border-box;
  position: relative;
  width: 400rpx;
  height: 94rpx;
  line-height: 94rpx;
  border-radius: 100rpx;
  border: 1rpx solid #cccccc;
  background-color: #fff;
  font-size: 28rpx;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
