<template>
  <div class="page" v-show="!isLoading">
    <div :class="{background__mask:isPickerShown}" @click="closePicker" catchtouchmove="true"></div>
    <div class="page__bd counter__wrapper">
      <div class="counter-cell__spacing"></div>
      <div class="counter-cell__wrapper">
        <div class="counter-title-cell">
          <div class="counter-title-cell__header">
            <div class="counter-title-cell__label">{{cells.loan.title}}</div>
          </div>
          <div class="counter-title-cell__footer">
            <div class="counter-extra-entrance__wrapper" @click.stop="switchExtra">
              <div class="counter-extra-entrance__label">{{cells.extra.entrance.label}}</div>
              <image class="counter-extra-entrance__icon"
                     :src="isExtraShown? cells.extra.entrance.icon.close : cells.extra.entrance.icon.open"/>
            </div>
          </div>
        </div>
        <div class="counter-input-cell">
          <div class="counter-input-cell__header">
            <div class="counter-input-cell__label">¥</div>
          </div>
          <div class="counter-input-cell__body">
            <input class="counter-input-cell__input"
            type="digit"
            maxlength="13"
            confirm-hold="true"
            :id="cells.loan.id"
            :placeholder="cells.loan.placeholder"
            @input="inputHandler"/>
          </div>
        </div>
        <div class="counter-cell__margin-bottom"
             :style="isExtraShown? 'height:21rpx; border-bottom: 1rpx solid #ececec' : 'height:34rpx'"></div>
      </div>
      <div class="counter-cell__wrapper" v-if="isExtraShown">
        <div class="counter-title-cell">
          <div class="counter-title-cell__header">
            <div class="counter-title-cell__label">{{cells.extra.title}}</div>
          </div>
        </div>
        <div class="counter-input-cell">
          <div class="counter-input-cell__header">
            <div class="counter-input-cell__label">¥</div>
          </div>
          <div class="counter-input-cell__body">
            <input class="counter-input-cell__input"
            type="digit"
            maxlength="13"
            confirm-hold="true"
            :id="cells.extra.id"
            :placeholder="cells.extra.placeholder"
            @input="inputHandler"/>
          </div>
        </div>
        <div class="counter-cell__margin-bottom" style="height:10.5px;"></div>
      </div>
      <div class="counter-cell__spacing"></div>
      <div class="counter-cell__wrapper">
        <div class="counter-title-cell">
          <div class="counter-title-cell__header">
            <div class="counter-title-cell__label">{{cells.repay.title}}</div>
          </div>
        </div>
        <div class="counter-scroll-cell">
          <scroll-view
            class="counter-scrollview"
            scroll-x="true"
            v-bind:id="cells.repay.id">
            <view class="counter-scrollview-cell"
                  v-for="(item,index) in options" :key="index" :data-current="index"
                  :id="item.id"
                  :style="{'width': spaces[index].width}"
                  v-on:click="clickOptionHandler">
              <div class="counter-scrollview-cell__box"
                   :style="{'margin-left': spaces[index].left,
                            'margin-right': spaces[index].right,
                            'background-color': colors[item.select].backgroundColor,
                            'border-color': colors[item.select].borderColor}">
                <div class="counter-scrollview-cell__mark"
                     :style="{'color': colors[item.select].markFontColor}">{{item.mark}}</div>
                <div class="counter-scrollview-cell__label"
                     :style="{'color': colors[item.select].labelFontColor}">{{item.label}}</div>
              </div>
            </view>
          </scroll-view>
        </div>
        <div class="counter-cell__margin-bottom" style="height:20px;"></div>
      </div>
      <div class="counter-cell__spacing"></div>
      <div class="counter-cell__wrapper">
        <div class="counter-title-cell">
          <div class="counter-title-cell__header">
            <div class="counter-title-cell__label">{{cells.refund.title}}</div>
          </div>
        </div>
        <div class="counter-input-cell">
          <div class="counter-input-cell__header">
            <div class="counter-input-cell__label">¥</div>
          </div>
          <div class="counter-input-cell__body">
            <input class="counter-input-cell__input"
            type="digit"
            maxlength="13"
            confirm-hold="true"
            :id="cells.refund.id"
            :placeholder="cells.refund.placeholder"
            @input="inputHandler"/>
          </div>
        </div>
        <div class="counter-cell__margin-bottom"
             :style="'height:10.5px; border-bottom: 0.5px solid #ececec;'"></div>
      </div>
      <div class="counter-cell__wrapper">
        <div class="counter-title-cell">
          <div class="counter-title-cell__header">
            <div class="counter-title-cell__label">{{cells.product.title}}</div>
          </div>
        </div>
        <div class="counter-product-cell" @click="clickProductNameHandler">
          <div class="counter-product-cell__body">
            <input class="counter-product-cell__input"
                   placeholder-style="color: #CCCCCC"
                   type="text"
                   maxlength="20"
                   :id="cells.product.id"
                   :placeholder="cells.product.placeholder"
                   v-model="productName"
                   disabled="true" />
          </div>
        </div>
        <div class="counter-product-cell__baseline"></div>
        <div class="counter-cell__margin-bottom" style="height:17.5px;"></div>
      </div>
      <div class="counter-cell__spacing" style="height:20px;"></div>
      <button class="counter-cell__button"
              :style="isComputable? 'background-color:#00C422;' : 'background-color:#D8D8D8;'"
              :disabled="!isComputable"
              type="primary"
              @tap="computeHandler">计算实际利率</button>
    </div>
    <div class="custom-picker__wrapper" :class="{'custom-picker__display':isPickerShown}">
      <div class="custom-picker__header">
        <div class="custom-picker__cancel" @click="cancelHandler">取消</div>
        <div class="custom-picker__affirm" @click="affirmHandler">确定</div>
      </div>
      <picker-view class="custom-picker__body"
          indicator-style="border-top: 0.5px solid #cccccc; border-bottom: 0.5px solid #cccccc; height: 44px"
          :value="pickerValue"
          @change="changePicker">
          <picker-view-column>
            <div class="custom-picker-item"
                v-for="(item,index) in columnOne"
                :key="index">{{item}}</div>
          </picker-view-column>
          <picker-view-column>
            <div class="custom-picker-item"
                 v-for="(item,index) in columnTwo"
                 :key="index">{{item}}</div>
          </picker-view-column>
      </picker-view>
    </div>
  </div>
</template>

<script>
// 计算相关
import {irr as computeIRR, round} from './compute'
// 数字处理
import {isAmountInvalid} from '@/utils/word'
// 通信相关
import {request} from '@/utils/comm/fly'
import {addCounterCommentUrl} from '@/utils/comm/config'
// 页面跳转
import {goto} from '@/utils/router/route'
// 获取登录状态
import {getStatus as getLoginStatus} from '@/utils/comm/service/login'
// 提示组件
// import {showLoading, hideLoading, showAlarm} from '@/utils/inform'
import {showLoading, showAlarm} from '@/utils/hint'
// 分享组件
import {sharePage as share} from '@/utils/share'
// 图片组件
import {openImage, closeImage} from '@/utils/pixel/config'
//
import {getStorage, setStorage} from '@/utils/cache/storage'
import {counterProductLocalStorage} from '@/utils/cache/config'
// 用户行为
import {counterCommentResult, counterCommentOperation} from '@/utils/profile/api'
// 计时器
import {getCurrentTime, calTimeSpan} from '@/utils/clock'

export default {
  name: 'counter',
  data () {
    // console.log('[counter][data] called')
    // 组件配置
    let cells = {}
    // 借款金额
    cells.loan = {id: 'loan', title: '借款金额(元)', placeholder: '', label: '借款金额'}
    // 额外费用
    cells.extra = {id: 'extra', title: '手续费 | 服务费', placeholder: '', label: '手续费 | 会员费'}
    cells.extra.entrance = {label: '', icon: {}}
    cells.extra.entrance.label = '手续费 | 服务费'
    cells.extra.entrance.icon.open = openImage
    cells.extra.entrance.icon.close = closeImage
    // 还款方式
    cells.repay = {id: 'repay', title: '还款方式', label: '还款方式'}
    // 还款金额
    cells.refund = {id: 'refund', title: '每期还款金额(元)', placeholder: '', label: '还款金额'}
    // 贷款产品名称
    cells.product = {id: 'product', title: '贷款产品名称(如360借条)', placeholder: '请输入产品名称', label: '贷款产品名称'}
    return {
      cells: cells,
      isExtraShown: false,
      isPickerShown: false,
      isFromTabbar: true,
      isComputable: false,
      productName: '',
      options: [],
      colors: [],
      spaces: [],
      scrollTab: '',
      scrollLeft: 0,
      isScrollBack: false,
      pickerValue: [],
      columnOne: [],
      columnTwo: []
    }
  },
  onLoad (options) {
    // console.log('[counter][onLoad] called  options:', options)
    let _this = this
    // 初始化
    _this.init()
    // 传参解析
    if (typeof options !== 'undefined' && Object.keys(options).length > 0) {
      // 参数解析
      if (typeof options.message !== 'undefined') {
        let msg = JSON.parse(options.message)
        _this.hub.product.id = msg.id || ''
        _this.hub.product.name = msg.name || ''
        _this.hub.product.icon = msg.icon || ''
        _this.productName = _this.hub.product.name
      }
      if (typeof options.source !== 'undefined' && options.source === 'detail') {
        // 非tabbar页面，不需要隐藏tabbar
        _this.hub.isTabbarPage = false
      }
    }
    showLoading('加载中', function () {
      _this.afterLoginThenLoadHandler()
    })
  },
  onShow (options) {
    // console.log('[counter][onShow] called ')
    let _this = this
    _this.startTime = getCurrentTime()
    getStorage(counterProductLocalStorage, null, null,
      function complete (res) {
        if (typeof res.data !== 'undefined' && Object.keys(res.data).length > 0) {
          if (res.data.type === 'default') {
            _this.hub.product.id = res.data.id
            _this.hub.product.name = res.data.name || ''
            _this.hub.product.icon = res.data.icon || ''
          } else {
            _this.hub.product.id = ''
            _this.hub.product.name = res.data.name || ''
            _this.hub.product.icon = ''
          }
          _this.productName = _this.hub.product.name
        }
      }
    )
  },
  onReady () {
    // console.log('[counter][onReady] called')
  },
  beforeMount () {
    // console.log('[counter][beforeMount] called')
  },
  mounted () {
    // console.log('[counter][mounted] called')
  },
  onUnload () {
    // console.log('[counter][onUnload] called')
    // 离开页面 - 用户利率计算行为
    let actionData = this._packCounterActionData()
    actionData.action = 'back'
    counterCommentOperation(actionData, 'quit')
  },
  onShareAppMessage (obj) {
    // console.log('[detail][onShareAppMessage]  obj: ', obj)
    let source = 'counter'
    if (this.hub.isTabbarPage === false) {
      source = 'counterbro'
    }
    let res = share(obj.from, source, 'counter')
    return res
  },
  methods: {
    afterLoginThenLoadHandler () {
      // 确认登录后再进行页面加载
      let _this = this
      let hasLogined = getLoginStatus()
      if (hasLogined) {
        // hideLoading()
        // console.log('[counter] login status')
      } else {
        // 轮询操作（重试至多3次）
        if (_this.retryCount <= 3) {
          // 延迟等待，尝试登陆
          _this.retryCount = _this.retryCount + 1
          setTimeout(function () {
            _this.afterLoginThenLoadHandler()
          }, 750 * _this.retryCount)
        } else {
          // 登录错误提示在登录模块中已加入
          // console.warn('[counter] login fails')
          // showAlarm('登录失败')
        }
      }
    },
    init () {
      // 初始化
      this.hub = {
        loan: {value: ''},
        extra: {value: ''},
        repay: {value: 3, unit: 'month', type: 'multiple', custom: false},
        refund: {value: ''},
        product: {id: '', name: '', icon: ''},
        source: '',
        isTabbarPage: false,
        result: {}
      }
      // 初始化换款滑块
      this.initRepayScroll()
      // 初始化用户自定义Picker
      this.initCounterPicker()
      //
      this.isPickerShown = false
      this.isExtraShown = false
      this.productName = ''
      // 状态变量
      this.isButtonTapped = false
      // 加载变量
      this.isLoading = true
      this.retryCount = 0
      // 初始化缓存（搜索产品名称传值用）
      setStorage(counterProductLocalStorage, {})
    },
    inputHandler: function (e) {
      // 输入完成后处理
      // console.log('[counter][changeHandler] called e', e)
      let id = e.mp.target.id
      this.hub[id].value = e.mp.detail.value
      this.isComputable = (this.hub.loan.value !== '' && this.hub.refund.value !== '')
    },
    // Extra单元相关事件
    switchExtra () {
      // console.log('[counter][switchExtra] called')
      /*
      // 开关额外费用单元
      var animation = wx.createAnimation({
        transformOrigin: '50% 50%',
        duration: 200,
        timingFunction: 'ease',
        delay: 0
      })
      let opacity = this.isExtraShown ? 0 : 1
      animation.opacity(opacity).step()
      this.animationData = animation.export()
      */
      setTimeout(function () {
        this.isExtraShown = !this.isExtraShown
      }.bind(this), 190)
    },
    // 还款方式相关事件
    selectRepayHandler (obj) {
      // 选择分期方式，scroll组件监听
      // console.log('[counter][selectRepayHandler] called  obj:', obj)
      this.goRepayBack = false
      if (obj.isCustom === false) {
        this.hub[obj.id] = {value: obj.item.value, unit: obj.item.unit, type: obj.item.type}
      } else {
        this.openPicker()
      }
      this.cells.refund.title = (this.hub.repay.type === 'single' ? '一次性还款金额(元)' : '每期还款金额(元)')
    },
    openPicker () {
      // 隐藏底部tabbar, 打开Picker
      let _this = this
      if (_this.hub.isTabbarPage) {
        wx.hideTabBar({
          animation: true,
          success: function () {
            _this.isPickerShown = true
          }
        })
      } else {
        _this.isPickerShown = true
      }
    },
    closePicker () {
      // 关闭Picker, 打开底部tabbar
      this.isPickerShown = false
      if (this.isFromTabbar) {
        setTimeout(function () {
          wx.showTabBar({
            animation: true
          })
        }, 300)
      }
    },
    computeHandler () {
      // 利率计算点击事件
      // console.log('[counter][computeHandler]  called')
      // 利率计算事件
      if (this.isButtonTapped === false) {
        this.isButtonTapped = true
        this.doCompute()
        this.isButtonTapped = false
      }
    },
    doCompute () {
      // 利率计算
      // console.log('[counter][doCompute]  called')
      let _this = this
      // 用户行为
      // 用户点击利率计算行为
      let actionData = _this._packCounterActionData()
      counterCommentOperation(actionData, 'submit')
      //
      var transform = function (a) { return a ? parseFloat(a.replace(/\s+/g, '')) : 0 }
      // 借款金额
      if (isAmountInvalid(_this.hub.loan.value)) {
        showAlarm(_this.cells.loan.label + '输入错误')
        return
      }
      let lv = round(transform(_this.hub.loan.value), 2)
      // 还款金额
      if (isAmountInvalid(_this.hub.refund.value)) {
        showAlarm(_this.cells.refund.label + '输入错误')
        return
      }
      let rv = round(transform(_this.hub.refund.value), 2)
      // 额外费用
      let ev = 0
      if (_this.isExtraShown === true) {
        let value = (_this.hub.extra.value.replace(/\s+/g, ''))
        // 输入不为空
        if (value) {
          if (isAmountInvalid(_this.hub.extra.value)) {
            showAlarm(_this.cells.extra.label + '输入错误')
            return
          } else {
            ev = round(transform(_this.hub.extra.value), 2)
          }
        }
      }
      //
      let repayObj = _this.hub.repay
      // 数据准备
      let vals = [-(lv - ev)]
      let num = repayObj.type === 'single' ? 1 : repayObj.value
      for (let i = 0; i < num; i++) {
        vals.push(rv)
      }
      // 利率计算
      let res = computeIRR(vals)
      // 利率换算
      let rateByDate = 0
      let rateByMonth = 0
      let rateByYear = 0
      if (repayObj.type === 'single') {
        rateByDate = res / repayObj.value
        rateByYear = rateByDate * 365
        rateByMonth = rateByYear / 12
      } else {
        rateByMonth = res
        rateByYear = res * 12
        rateByDate = rateByYear / 365
      }
      // 结果后处理
      _this.hub.result = {
        code: '',
        loan: lv,
        extra: ev,
        repay: {value: repayObj.value, unit: repayObj.unit, type: repayObj.type, custom: repayObj.custom},
        refund: rv,
        rate: {date: rateByDate, month: rateByMonth, year: rateByYear}
      }
      let posts = _this.toRemotePosts(_this.hub.result)
      request(addCounterCommentUrl, 'post', posts,
        function success (res) {
          _this.hub.result.code = res.data.Result.BizCode || ''
          _this.completeHandler(res)
        },
        function fail (obj) {
          // console.log('[counter][addCounter]  fail')
          _this.completeHandler(res)
        }, true)
    },
    completeHandler (obj) {
      let _this = this
      // 打包数据
      let posts = _this.toNextPosts(this.hub.result)
      //
      if (posts.product.icon === '') {
        posts.product.icon = 'default_icon.png'
      }
      goto('counter', 'result', posts)
      // 用户行为
      // 收集利率结果
      let action = {
        product: {
          name: posts.product.name,
          id: posts.product.id
        },
        interest: posts.air.toFixed(4)
      }
      counterCommentResult(action)
      // 离开页面 - 用户利率计算行为
      let actionData = _this._packCounterActionData()
      actionData.action = 'result'
      counterCommentOperation(actionData, 'quit')
    },
    toRemotePosts (obj) {
      // 数据格式转换（发送到服务器）
      let res = {
        'Loan': obj.loan,
        'Extra': obj.extra,
        'Repay': {'Value': obj.repay.value, 'Unit': obj.repay.unit, 'Type': obj.repay.type, 'Custom': obj.repay.custom},
        'Refund': obj.refund,
        'Result': {'Date': obj.rate.date, 'Month': obj.rate.month, 'Year': obj.rate.year}
      }
      // 产品信息单独处理（流程复杂）
      res['Product'] = {'Name': this.hub.product.name, 'Id': this.hub.product.id}
      return res
    },
    toNextPosts (obj, callback) {
      // console.log('[toNextPosts] obj: ', obj)
      // 数据格式转换（发送到下个视图）
      let res = {
        code: obj.code,
        income: obj.loan - obj.extra,
        rufund: obj.refund,
        repay: { value: obj.repay.value, type: obj.repay.type },
        dir: obj.rate.date,
        mir: obj.rate.month,
        air: obj.rate.year
      }
      // 产品信息单独处理（流程复杂）
      res.product = {
        id: this.hub.product.id || '',
        name: this.hub.product.name || '某借款产品',
        icon: this.hub.product.icon || ''
      }
      return res
    },
    initRepayScroll () {
      // 还款方式初始化
      // 初始选项索引
      let defaultIndex = 3
      // 选项
      var options = [
        {label: '7天', mark: '单期', value: 7, unit: 'day', type: 'single'},
        {label: '15天', mark: '单期', value: 15, unit: 'day', type: 'single'},
        {label: '50天', mark: '单期', value: 50, unit: 'day', type: 'single'},
        {label: '3个月', mark: '分期', value: 3, unit: 'month', type: 'multiple'},
        {label: '6个月', mark: '分期', value: 6, unit: 'month', type: 'multiple'},
        {label: '12个月', mark: '分期', value: 12, unit: 'month', type: 'multiple'},
        {label: '自定义', mark: '', value: 0, unit: '', type: ''}
      ]
      // 样式定义（选项颜色）
      var colors = {
        unselected: { backgroundColor: '#FFFFFF', labelFontColor: '#000000', markFontColor: '#666666', borderColor: '#CCCCCC' },
        selected: { backgroundColor: '#EFFFF1', labelFontColor: '#00C422', markFontColor: '#00C422', borderColor: '#00C422' }
      }
      // 样式定义（选项间隔）
      var spaces = []
      // 初始化
      // 选项Id, 选项状态
      for (let i = 0; i < options.length; i++) {
        options[i].id = 'option' + i.toString()
        options[i].select = 'unselected'
      }
      options[defaultIndex].select = 'selected'
      // 选项间隔
      spaces = Array(options.length)
      for (let i = 0; i < options.length; i++) {
        spaces[i] = {}
        spaces[i].left = 12
        spaces[i].right = 0
      }
      spaces[0].left = 24
      spaces[options.length - 1].right = 24
      for (let i = 0; i < options.length; i++) {
        spaces[i].width = spaces[i].left + 150 + spaces[i].right + 'rpx'
        spaces[i].left = spaces[i].left + 'rpx'
        spaces[i].right = spaces[i].right + 'rpx'
      }
      // 上一步记录
      var prevOption = {id: options[defaultIndex].id, index: defaultIndex}
      // 赋值
      this.options = options
      this.colors = colors
      this.spaces = spaces
      this.isScrollBack = false
      this.prevOption = prevOption
    },
    clickOptionHandler (e) {
      // console.log('[counter][clickOptionHandler] called  e: ', e)
      let index = e.mp.currentTarget.dataset.current
      // 还款方式点击事件
      let _this = this
      let options = _this.options
      _this.isScrollBack = false
      _this.updateScrollFlag = true
      // 更新选项状态
      for (let i = 0; i < options.length; i++) {
        options[i].select = 'unselected'
      }
      options[index].select = 'selected'
      // 状态记录
      _this.scrollTab = options[index].id
      // 若是自定义选项
      if (index === (options.length - 1)) {
        _this.openPicker()
      } else {
        let obj = options[index]
        _this.hub.repay.value = obj.value
        _this.hub.repay.unit = obj.unit
        _this.hub.repay.type = obj.type
        _this.hub.repay.custom = false
        _this.cells.refund.title = (_this.hub.repay.type === 'single' ? '一次性还款金额(元)' : '每期还款金额(元)')
        // 非自定义项记录前一步选项
        _this.prevOption.id = options[index].id
        _this.prevOption.index = index
      }
    },
    initCounterPicker () {
      // picker初始化
      // 第二列默认值: 单期40天，分期15个月
      let config = [
        {label: '一次性还款', period: 'single', options: [], default: 39},
        {label: '分期还款', period: 'multiple', options: [], default: 14}
      ]
      for (let i = 1; i <= 150; i++) {
        config[0].options.push({label: ((i).toString() + '天'), value: i})
      }
      for (let i = 1; i <= 48; i++) {
        config[1].options.push({label: ((i).toString() + '个月'), value: i})
      }
      //
      var columns = [[], []]
      for (let i = 0; i < config.length; i++) {
        columns[0].push(config[i].label)
      }
      for (let i = 0; i < config[0].options.length; i++) {
        columns[1].push(config[0].options[i].label)
      }
      // 默认初值: 单期 40天
      var pickerValue = Array(2)
      pickerValue[0] = 0
      pickerValue[1] = config[0].default
      // 赋值
      this.pickerValue = pickerValue
      this.pickerDefault = config
      this.columnOne = columns[0]
      this.columnTwo = columns[1]
    },
    // picker事件
    changePicker (e) {
      // console.log('[counter][changePicker] e: ', e)
      let _this = this
      let value = e.mp.detail.value
      // 如果是第一列滚动
      if (value[0] !== _this.pickerValue[0]) {
        // 更新第二列数据
        let options = _this.pickerDefault[value[0]].options
        _this.columnTwo = []
        for (let i = 0; i < options.length; i++) {
          _this.columnTwo.push(options[i].label)
        }
        // 更新pickerValue
        _this.pickerValue[0] = value[0]
        _this.pickerValue[1] = _this.pickerDefault[value[0]].default
      } else if (value[1] !== _this.pickerValue[1]) {
        // 如果第二列滚动
        _this.pickerValue[1] = value[1]
      }
    },
    affirmHandler () {
      // console.log('[counter][affirmHandler] called pickerValue: ', this.pickerValue)
      let _this = this
      let obj = _this.pickerDefault[_this.pickerValue[0]]
      let period = obj.period
      // 点击确认
      let item = _this.options[_this.options.length - 1]
      item.select = 'selected'
      item.value = obj.options[_this.pickerValue[1]].value
      if (period === 'multiple') {
        item.label = ((item.value).toString() + '个月')
        item.mark = '自定义·分期'
        item.unit = 'month'
      } else {
        item.label = ((item.value).toString() + '天')
        item.mark = '自定义·单期'
        item.unit = 'day'
      }
      //
      _this.hub.repay.value = item.value
      _this.hub.repay.unit = item.unit
      _this.hub.repay.type = period
      _this.hub.repay.custom = true
      _this.cells.refund.title = (_this.hub.repay.type === 'single' ? '一次性还款金额(元)' : '每期还款金额(元)')
      this.closePicker()
    },
    cancelHandler () {
      // console.log('[counter][custom][cancelHandler] called')
      this.isScrollBack = true
      this.closePicker()
    },
    clickProductNameHandler () {
      goto('counter', 'search')
      // 离开页面 - 用户利率计算行为
      let actionData = this._packCounterActionData()
      actionData.action = 'search'
      counterCommentOperation(actionData, 'quit')
    },
    _packCounterActionData () {
      // 利率计算输入行为数据打包
      let _this = this
      let repayObj = _this.hub.repay
      let repayType = _this.hub.repay.type === 'single' ? '单期' : '分期'
      let repayUnit = _this.hub.repay.unit === 'month' ? '月' : '天'
      // 上传用户利率计算操作行为
      let posts = {
        loan: _this.hub.loan.value,
        extra: _this.hub.extra.value,
        repay: {
          type: repayType,
          value: repayObj.value.toString() + repayUnit
        },
        refund: _this.hub.refund.value,
        product: _this.hub.product.name || '',
        time: calTimeSpan(_this.startTime, getCurrentTime(), 'ms')
      }
      return posts
    }
  },
  watch: {
    isScrollBack: function (flag) {
      // 滑块不回滚
      // console.log('[counter] isScrollBack called')
      let _this = this
      let custom = _this.options[_this.options.length - 1]
      // 条件1: picker点击回退
      // 条件2: 如果自定义项有值, 则不回退（说明重复点的自定义项）
      if (flag === true && custom.value === 0) {
        let index = _this.prevOption.index
        let options = _this.options
        for (let i = 0; i < options.length; i++) {
          options[i].select = 'unselected'
        }
        options[index].select = 'selected'
      }
    }
  }
}
</script>


<style scoped>
.counter-scroll-cell {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 120rpx;
}
.counter-cell__button {
  box-sizing: border-box;
  position: relative;
  margin-left: 40rpx;
  margin-right: 40rpx;
  border-radius: 100rpx;
  font-size: 32rpx;
  color: #fff;
  border: none;
}
.counter__wrapper {
}
.counter-cell__wrapper {
  box-sizing: border-box;
  position: relative;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.counter-cell__spacing {
  content: " ";
  position: relative;
  left: 0;
  right: 0;
  height: 16rpx;
  background-color: transparent;
}
.counter-cell__margin-bottom {
  content: " ";
  position: relative;
  left: 0px;
  right: 0px;
  background-color: #fff;
  height: 34rpx;
}
.counter-title-cell {
  box-sizing: border-box;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 92rpx;
  font-size: 28rpx;
  color: #999999;
}
.counter-title-cell__header {
  box-sizing: border-box;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding-left: 24rpx;
  display: flex;
  align-items: center;
}
.counter-title-cell__footer {
  box-sizing: border-box;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  padding-right: 24rpx;
}
.counter-title-cell__label {
  box-sizing: border-box;
  position: relative;
  height: 28rpx;
  line-height: 28rpx;
  font-family: PingFangSC-Regular, sans-serif;
  letter-spacing: 0;
}

.counter-input-cell {
  box-sizing: border-box;
  position: relative;
  height: 94rpx;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  font-size: 56rpx;
  align-items: center;
}
.counter-input-cell__header {
  box-sizing: border-box;
  position: relative;
  margin-left: 0;
}
.counter-input-cell__label {
  box-sizing: border-box;
  position: relative;
  margin-left: 24rpx;
  height: 56rpx;
  line-height: 56rpx;
}
.counter-input-cell__body {
  box-sizing: border-box;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.counter-input-cell__input {
  box-sizing: border-box;
  position: relative;
  padding-left: 16rpx;
  height: 56rpx;
  line-height: 56rpx;
}

.counter-product-cell {
  box-sizing: border-box;
  position: relative;
  height: 48rpx;
  line-height: 48rpx;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-top: 8rpx;
  padding-bottom: 8rpx;
}
.counter-product-cell__body {
  box-sizing: border-box;
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 32rpx;
}
.counter-product-cell__input {
  box-sizing: border-box;
  position: relative;
  padding-left: 24rpx;
  width: 100%;
}
.counter-product-cell__baseline {
  content: "  ";
  box-sizing: border-box;
  position: relative;
  margin-left: 24rpx;
  margin-right: 24rpx;
  height: 8rpx;
  background-color: #fff;
  border-top: 1rpx solid #ececec;
}

.counter-extra-entrance__wrapper {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  line-height: 100%;
  display: flex;
  float: right;
  align-items: center;
}
.counter-extra-entrance__label {
  box-sizing: border-box;
  display: inline;
  height: 26rpx;
  line-height: 26rpx;
  font-size: 26rpx;
  display: flex;
  align-items: center;
}
.counter-extra-entrance__icon {
  margin-left: 16rpx;
  width: 40rpx;
  height: 40rpx;
}
/* 还款方式样式 */
.counter-scrollview {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  display: flex;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  color: transparent;
}
.counter-scrollview-cell {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
}
.counter-scrollview-cell__box {
  box-sizing: border-box;
  position: relative;
  width: 150rpx;
  height: 100%;
  border: 1rpx solid #CCCCCC;
  border-radius: 8rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-scrollview-cell__label {
  box-sizing: border-box;
  position: absolute;
  font-size: 32rpx;
  height: 30rpx;
  line-height: 30rpx;
  bottom: 29rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter-scrollview-cell__mark {
  box-sizing: border-box;
  position: absolute;
  height: 20rpx;
  line-height: 20rpx;
  font-size: 20rpx;
  top: 29rpx;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-picker__wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all 0.3s ease;
  transform: translateY(100%);
  z-index: 9999;
}
.custom-picker__display {
  transform: translateY(0);
}
.custom-picker__header {
  box-sizing: border-box;
  position: relative;
  height: 88rpx;
  background-color: #F8F8F8;
}
.custom-picker__header:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2rpx;
  border-bottom: 1px solid #e5e5e5;
  color: #e5e5e5;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.custom-picker__cancel {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  width: 124rpx;
  height: 88rpx;
  line-height: 88rpx;
  font-size: 32rpx;
  color: #999999;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.custom-picker__affirm {
  box-sizing: border-box;
  position: absolute;
  right: 0;
  width: 124rpx;
  height: 88rpx;
  line-height: 88rpx;
  font-size: 32rpx;
  color: #00C422;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.custom-picker__body {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  height: 544rpx;
  background-color: #FFFFFF;
}
.custom-picker-item {
  height: 88rpx;
  line-height: 88rpx;
  font-size: 28rpx;
  text-align: center;
}
</style>
