<script>
import {logKeyForLocalStorage as logKey} from '@/utils/cache/config'
import {getStorageSync, setStorageSync} from '@/utils/cache/storage'
// 登录封装
import {doLogin, getStatus as getLoginStatus} from '@/utils/comm/service/login'
// 通信组件
import {request} from '@/utils/comm/fly'
import {actionLoginUrl as loginUrl, actionHitShareUrl as hitShareUrl} from '@/utils/comm/config'
// 用户行为
import {appLaunch} from '@/utils/profile/api'

export default {
  data () {
    return {
    }
  },
  created () {
    // console.log('[App][created] called')
    // 调用API从本地缓存中获取数据
    /*
     * 平台 api 差异的处理方式:  api 方法统一挂载到 mpvue 名称空间, 平台判断通过 mpvuePlatform 特征字符串
     * 微信：mpvue === wx, mpvuePlatform === 'wx'
     * 头条：mpvue === tt, mpvuePlatform === 'tt'
     * 百度：mpvue === swan, mpvuePlatform === 'swan'
     * 支付宝(蚂蚁)：mpvue === my, mpvuePlatform === 'my'
     */
    const logs = getStorageSync(logKey, [])
    logs.unshift(Date.now())
    setStorageSync(logKey, logs)
    /*
    let logs
    if (mpvuePlatform === 'my') {
      logs = mpvue.getStorageSync({key: 'logs'}).data || []
      logs.unshift(Date.now())
      mpvue.setStorageSync({
        key: 'logs',
        data: logs
      })
    } else {
      logs = mpvue.getStorageSync('logs') || []
      logs.unshift(Date.now())
      mpvue.setStorageSync('logs', logs)
    }
    */
  },
  log () {
    // console.log(`log at:${Date.now()}`)
  },
  onLaunch (options) {
    // console.log('[App][onLaunch] called ', options)
    // 用户登陆
    doLogin({})
  },
  onShow (options) {
    // console.log('[App][onShow] called ', options)
    let _this = this
    if (typeof options !== 'undefined') {
      if (options.query.type === 'share') {
        let posts = {}
        if (typeof options.query.code !== 'undefined') {
          posts.ShareCode = options.query.code
        }
        // 分享群点击转发进入
        if (typeof options.shareTicket !== 'undefined') {
          wx.getShareInfo({
            shareTicket: options.shareTicket,
            success: (res) => {
              // console.log(res)
              if (typeof res.iv !== 'undefined' && typeof res.encryptedData !== 'undefined') {
                posts.Iv = res.iv
                posts.Encryption = res.encryptedData
                _this.retryCount = 1
                _this.postShareTicket(posts)
              }
            },
            fail: (res) => {
              // console.log(res)
            }
          })
        } else {
          // 个人点击转发进入
          _this.postShareTicket(posts)
        }
      }
      // 用户行为
      if (typeof options.path !== 'undefined') {
        let action = {path: options.path}
        appLaunch(action)
      }
    }
  },
  onHide () {
    // console.log('[App][onHide] called')
    // 用户离开小程序记录
    let posts = {Action: 'logout'}
    request(loginUrl, 'post', posts, null, null, true)
  },
  mounted () {
    // console.log('[App][mounted] called')
    // var app = getApp()
    // console.log(app)
  },
  onError (err) {
    console.log('[onError] err: ', err)
  },
  methods: {
    postShareTicket (posts) {
      // console.log('[App][postShareTicket] called')
      let _this = this
      let hasLogined = getLoginStatus()
      if (hasLogined) {
        request(hitShareUrl, 'post', posts, null, null, true)
      } else {
        // 轮询操作（重试至多3次）
        if (_this.retryCount <= 3) {
          // 延迟等待，尝试登陆
          _this.retryCount = _this.retryCount + 1
          setTimeout(function () {
            _this.postShareTicket()
          }, 750 * _this.retryCount)
        }
      }
    }
  }
}
</script>


<style>
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}
</style>
